
@{
    ViewBag.Title = "Empresarial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #hero-area {
        background: url('../../images/Capacitacion/cap.jpg') no-repeat 100%;
        background-size: cover;
        background-attachment: fixed;
        padding: 130px 0;
        color: #fff;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        position: relative;
    }


    .table .thead-dark th {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
}

    .table-danger, .table-danger>td, .table-danger>th {
    background-color: #f5c6cb;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.table-hover .table-danger:hover>td, .table-hover .table-danger:hover>th {
    background-color: #f1b0b7;
}
</style>
<!--
==================================================
Slider Section Start
================================================== -->
<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                    <!-- Slider -->
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            <span> Capacitación Empresarial </span><br>
                            <br />

                            <span class="cd-words-wrapper">
                                <b class="is-visible">estratégico</b>
                                <b>competitivas </b>
                                <b>colaboradores</b>
                                <b>cursos</b>
                            </span>
                        </h1>
                    </section> <!-- cd-intro -->

                </div>
            </div>
        </div>
    </div>
</section>

<section class="global-page-header" style="padding: 35px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <p style="color: #777;" class="text-justify wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">
                        La capacitación es un factor estratégico para que las empresas puedan ser competitivas, por lo que es necesario capacitar constantemente a los colaboradores de confianza y a todos los empleados, brindamos para ustedes los siguientes cursos y Talleres.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeInLeft" data-wow-delay=".3s">
                <table class="table table-bordered table-hover table-responsive">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" style="text-align:center">#</th>
                            <th scope="col" style="text-align:center;" width="35%">CURSO</th>
                            <th scope="col" style="text-align:center">OBJETIVO </th>
                            <th scope="col" style="text-align:center">DURACIÓN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-danger" style="color:black">
                            <td scope="row">1</td>
                            <td><em><strong>Estrategias para la Comunicación de Datos Empresariales  </strong></em></td>
                            <td style="text-align:justify">
                                Comunicar y presentar datos es un reto cada vez más común para los ejecutivos. En este taller, el participante aprenderá a utilizar los datos y otros elementos de sus presentaciones de forma estratégica para comunicar una historia congruente y convincente. Aprenderemos a diseñar presentaciones que faciliten la interpretación de los datos y sean memorables ante su audiencia.
                            </td>
                            <td>8 horas</td>
                        </tr>
                        <tr class="table-danger" style="color:black">
                            <td scope="row">2</td>
                            <td><em><strong>Administración y Direccion de Proyectos  </strong></em></td>
                            <td style="text-align:justify">
                                Proporcionar una base teórica sobre los conceptos y técnicas fundamentales de la administración de proyectos.
                            </td>
                            <td>8 horas</td>
                        </tr>
                        <tr class="table-danger" style="color:black">
                            <td scope="row">3</td>
                            <td><em><strong>Curso Administración Básica para Puestos Clave  </strong></em></td>
                            <td style="text-align:justify">
                                Describir las funciones de planeación, organización, control y las relaciones que permiten hacer más efectivo el desempeño de los integrantes de las organizaciones.
                            </td>
                            <td>12 horas</td>
                        </tr>
                        <tr class="table-danger" style="color:black">
                            <td scope="row">4</td>
                            <td><em><strong> Delegación y Asignación de Responsabilidades </strong></em></td>
                            <td style="text-align:justify">
                                Proporcionar el conocimiento para la evaluación del rendimiento global del empleado, para contar con elementos que permitan determinar si las responsabilidades a su cargo corresponden con los objetivos propuestos contando con elementos para tomar acerca de promociones, compensaciones y planes de carrera.
                            </td>
                            <td>8 horas</td>
                        </tr>
                        <tr class="table-danger" style="color:black">
                            <td scope="row">5</td>
                            <td><em><strong> Gestión Efectiva de la Supervisión y Liderazgo </strong></em></td>
                            <td style="text-align:justify">
                                Implantar entre los supervisores los principios básicos y reforzar las técnicas de supervisión que impactan en los aspectos administrativos y humanos de su gestión.
                            </td>
                            <td>8 horas</td>
                        </tr>
                        <tr class="table-danger" style="color:black">
                            <td scope="row">6</td>
                            <td> <em><strong>Administración Efectiva del Personal y Liderazgo </strong></em></td>
                            <td style="text-align:justify">
                                Implantar y reforzar entre los facilitadores los principios básicos y técnicas de la administración de personal, con un impacto eficaz en los aspectos administrativo y humano de su gestión.
                            </td>
                            <td>8 horas</td>
                        </tr>
                        <tr class="table-danger" style="color:black">
                            <td scope="row">7</td>
                            <td><em><strong>Toma de Decisiones Efectivas </strong></em></td>
                            <td style="text-align:justify">
                                Proporcionar a los participantes los conceptos y la metodología necesaria para facilitar una de las cosas más importantes que realizan cada quién en el cumplimiento de su deber ” la toma de decisiones” y de éste modo facilitar el logro de las metas y objetivos estratégicos de la empresa.
                            </td>
                            <td>8 horas</td>
                        </tr>
                        <tr class="table-danger" style="color:black">
                            <td scope="row">8</td>
                            <td><em><strong> Curso Formación de Coaches Internos</strong></em> </td>
                            <td style="text-align:justify">
                                Desarrollo de subordinados, liderazgo, escucha, trabajo en equipo.
                            </td>
                            <td>8 horas</td>
                        </tr>
                        <tr class="table-danger" style="color:black">
                            <td scope="row">9</td>
                            <td> <em><strong>Curso de Liderazgo Gerencial </strong></em></td>
                            <td style="text-align:justify">
                                Implantar en el grupo de gerentes, los principios básicos y reforzar las técnicas de la gestión, que impactan en los aspectos administrativos y humanos de su gestión.
                            </td>
                            <td>8 horas</td>
                        </tr>
                        <tr class="table-danger" style="color:black">
                            <td scope="row">10</td>
                            <td><em><strong>Planeación Estratégica</strong></em></td>
                            <td style="text-align:justify">
                                Describirán las etapas del proceso de planeación y las relaciones entre planeación y Estrategia.
                            </td>
                            <td>8 horas</td>
                        </tr>
                        <tr class="table-danger" style="color:black">
                            <td scope="row">11</td>
                            <td> <em><strong>Curso Design Thinker por un Día </strong></em></td>
                            <td style="text-align:justify">
                                Que el participante conozca y aplique el proceso de Design Thinking para la resolución de una problemática.
                            </td>
                            <td>8 horas</td>
                        </tr>
                        <tr class="table-danger" style="color:black">
                            <td scope="row">12</td>
                            <td><em><strong>Redes Sociales para Empresas </strong></em></td>
                            <td style="text-align:justify">
                                Reconocer las nuevas tendencias de marketing digital y ofrecer una imagen empresarial impactante a los usuarios de las redes sociales.<br>
                                valorizar el uso de las redes sociales como instrumento actual de captación y presencia en el mercado.<br>
                                Aplicar mejores prácticas en la gestión de las redes sociales para crear un vínculo cliente-empresa.<br>
                                Diseñar campañas publicitarias de respuesta directa y de posicionamiento de marca a través de redes sociales.<br>
                                Lograr la formación de comunidades en redes sociales que nos permitan obtener feedback y medición en el retorno de inversión. <br>
                            </td>
                            <td>8 horas</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</section>



<br />
<br />


