
@{
    ViewBag.Title = "InterpretacionesNormas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #hero-area {
        background: url('../../images/Capacitacion/capacitacion3.jpg') no-repeat 100%;
        background-size: cover;
        background-attachment: fixed;
        padding: 130px 0;
        color: #fff;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        position: relative;
    }


    .table .thead-dark th {
        color: #fff;
        background-color: #212529;
        border-color: #32383e;
    }

    .table-danger, .table-danger > td, .table-danger > th {
        background-color: #f5c6cb;
    }

    .table-bordered td, .table-bordered th {
        border: 1px solid #dee2e6;
    }

    .table td, .table th {
        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .table-hover .table-danger:hover > td, .table-hover .table-danger:hover > th {
        background-color: #f1b0b7;
    }

    .table-warning, .table-warning>td, .table-warning>th {
    background-color: #ffeeba;
}
    .table-hover .table-warning:hover {
    background-color: #ffe8a1;
}
</style>
<!--
==================================================
Slider Section Start
================================================== -->
<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                    <!-- Slider -->
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            <span> Interpretaciones de Normas </span><br>
                            <br />

                            <span class="cd-words-wrapper">
                                <b class="is-visible">Metodologías</b>
                                <b>cambios </b>
                                <b>transición</b>
                                <b>ISO 9001</b>
                            </span>
                        </h1>
                    </section> <!-- cd-intro -->

                </div>
            </div>
        </div>
    </div>
</section>

<section class="global-page-header" style="padding: 35px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <p style="color: #777;" class="text-justify wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">
                        Conoce las Metodologías y herramientas para conocer los cambios clave y llevar con éxito la transición a las nuevas normas ISO 9001, estos cursos pueden ser especializados para tu empresa, también tenemos cursos al público en general.
                        <br><br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeInLeft" data-wow-delay=".3s">
                <table class="table table-bordered table-hover table-responsive">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" style="text-align:center">#</th>
                            <th scope="col" style="text-align:center;" width="35%">CURSO</th>
                            <th scope="col" style="text-align:center">OBJETIVO </th>
                            <th scope="col" style="text-align:center">DURACIÓN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-warning" style="color:black">
                            <td scope="row">1</td>
                            <td><em><strong>Interpretación de la  ISO 45001:2018  Sistema de Seguridad y Salud Organizacional </strong></em></td>
                            <td style="text-align:justify">
                                Conocer los requerimientos de un “Sistema de Seguridad y Salud Organizacional” basado en la Norma ISO‐45001:2018.<br>
                                Mejora continua, orientación a resultados, control.
                            </td>
                            <td>8 horas</td>
                        </tr>
                        <tr class="table-warning" style="color:black">
                            <td scope="row">2</td>
                            <td><em><strong>Formación de Auditores ISO 45001:2018  </strong></em></td>
                            <td style="text-align:justify">Mejora continua, orientación a resultados, control. </td>
                            <td>16 Horas</td>
                        </tr>
                        <tr class="table-warning" style="color:black">
                            <td scope="row">3</td>
                            <td><em><strong>Liderazgo en la Seguridad Industrial y Comisiones Mixtas </strong></em></td>
                            <td style="text-align:justify">
                                Guiar a los participantes hacia una mayor comprensión del potencial, la estructura y la gestión de un consejo de administración activo.<br>
                                Definir funciones y responsabilidades de los consejeros.<br>
                                Describir el alcance de las actividades de gestión y planeación de los “Consejo de administración de empresas familiares”.<br>
                                Describir claramente cómo se deben planear y organizar efectivamente las reuniones del consejo. <br>
                            </td>
                            <td>8 horas</td>
                        </tr>
                        <tr class="table-warning" style="color:black">
                            <td scope="row">4</td>
                            <td><em><strong>Curso Administración total de calidad (TQM) </strong></em></td>
                            <td style="text-align:justify">
                                El objetivo general de este curso es presentar la aplicación de la metodología de las 5Ss en cualquier sitio de trabajo, de tal manera que se genera un ambiente adecuado para lograr el bienestar de las personas y la producción de bienes y servicios de calidad. con tal propósito se hace una descripción de los 5 factores claves para lograr un ambiente adecuado de trabajo, se muestran los beneficios que de derivan de su utilización así como la necesidad de su implemetación en su empresa, y se presentan procedimientos para su aplicación.
                            </td>
                            <td>8 horas</td>
                        </tr>
                        <tr class="table-warning" style="color:black">
                            <td scope="row">5</td>
                            <td><em><strong>Análisis y Solución de Problemas Potenciales </strong></em></td>
                            <td style="text-align:justify">
                                Para asegurar el desarrollo e implementación de su sistema de calidad la organización debe: involucrar a los administradores de los procesos, para que conozcan las técnicas básicas, necesarias para el análisis y mejoramiento de procesos y de este modo satisfacer los requerimientos de sus clientes ( internos – externos).
                            </td>
                            <td> 8 horas</td>
                        </tr>
                        <tr class="table-warning" style="color:black">
                            <td scope="row">6</td>
                            <td><em><strong>Curso Las 8 D’s (Disciplinas) para la Solución de Problemas </strong></em></td>
                            <td style="text-align:justify">
                                Determinar de manera metódica la causa raíz de las fallas en operaciones y procesos; así como su acción correctiva y/o preventiva.
                            </td>
                            <td>8 horas</td>
                        </tr>
                        <tr class="table-warning" style="color:black">
                            <td scope="row">7</td>
                            <td><em><strong>Metodología Six Sigma</strong></em></td>
                            <td style="text-align:justify">
                                Educar al asistente en las características fundamentales de la metodología lean Six Sigma.<br>
                                Presentar las etapas del DMAIC: Principales actividades y salidas.<br>
                                Concientizar sobre las características de una cultura Six Sigma &nbsp;así como también de las responsabilidades de cada &nbsp;rol dentro de la metodología.<br>
                                Compartir casos reales de implementación, proyectos y los resultados obtenidos (Ahorros, aumento de margen, etc.). <br>
                            </td>
                            <td>8 horas</td>
                        </tr>
                        <tr class="table-warning" style="color:black">
                            <td scope="row">8</td>
                            <td><em><strong>Taller de Documentación de Procesos</strong></em></td>
                            <td style="text-align:justify">
                                Presentar a los participantes la definición de los procesos, desde el enfoque de sistema de calidad y proporcionar las técnicas necesarias para su documentación.<br>
                                Desarrollar prácticas de documentación mediante la elaboración de procedimientos en los talleres 1 y 2.
                            </td>
                            <td>8 horas</td>
                        </tr>
                        <tr class="table-warning" style="color:black">
                            <td scope="row">9</td>
                            <td><em><strong>Círculos de Calidad </strong></em></td>
                            <td style="text-align:justify">
                                Proporcionar a los participantes la metodología de los círculos de la calidad para crear conciencia en calidad y productividad y que a su vez desarrollen el trabajo en equipo a través del intercambio de experiencias y conocimientos técnicos entre todos y cada uno de los miembros de la organización, para el análisis y solución de problemas que afecten el adecuado desempeño de sus actividades diarias, las características en los productos y los parámetros en sus procesos a través de ideas y alternativas de solución en un enfoque de mejora continua.
                            </td>
                            <td>8 horas</td>
                        </tr>
                        <tr class="table-warning" style="color:black">
                            <td scope="row">10</td>
                            <td><em><strong>Estadística Básica </strong></em></td>
                            <td style="text-align:justify">Dar a conocer a los participantes la finalidad de las técnicas de control estadístico de procesos para obtener el máximo beneficio para la organización y así aumentar la productividad y disminuir los costos al aprender a seleccionar, elaborar, interpretar las gráficas de control por variables prender a seleccionar, elaborar, interpretar las gráficas de control por variables y las características del producto y para la toma de decisiones. </td>
                            <td>16 horas</td>
                        </tr>
                        <tr class="table-warning" style="color:black">
                            <td scope="row">11</td>
                            <td><em><strong>Administración de la Cadena de Valor </strong></em></td>
                            <td style="text-align:justify">Incrementar la productividad al reducir eficiencias en el proceso</td>
                            <td>8 horas</td>
                        </tr>
                        <tr class="table-warning" style="color:black">
                            <td scope="row">12</td>
                            <td><em><strong>Cero Defectos</strong></em></td>
                            <td style="text-align:justify">Determinar las etapas, entradas, salidas y puntos críticos de un proceso de manufactura o servicio para su control y mejora. </td>
                            <td>8 horas</td>
                        </tr>
                        <tr class="table-warning" style="color:black">
                            <td scope="row">13</td>
                            <td><em><strong>Acciones Correctivas y Preventivas </strong></em></td>
                            <td style="text-align:justify">Determinar de manera metódica la causa Raíz de las Fallas de calidad; así como su respectiva acción correctiva y/o preventiva. </td>
                            <td>8 horas</td>
                        </tr>
                        <tr class="table-warning" style="color:black">
                            <td scope="row">14</td>
                            <td><em><strong>Auditoría Interna AS-9100 </strong></em></td>
                            <td style="text-align:justify">Auditar el Sistema de Calidad bajo enfoque de proceso.</td>
                            <td>16 Horas</td>
                        </tr>
                        <tr class="table-warning" style="color:black">
                            <td scope="row">15</td>
                            <td><em><strong>Interpretación Técnica AS-9100</strong></em></td>
                            <td style="text-align:justify">Conocer los requerimientos de un Sistema de Calidad Aeroespacial. </td>
                            <td>8 horas</td>
                        </tr>
                        <tr class="table-warning" style="color:black">
                            <td scope="row">16</td>
                            <td><em><strong>Auditoría Interna Norma ISO-22000:2005 </strong></em></td>
                            <td style="text-align:justify">Auditar el Sistema de Calidad bajo enfoque de Procesos. </td>
                            <td>16 Horas </td>
                        </tr>
                        <tr class="table-warning" style="color:black">
                            <td scope="row">17</td>
                            <td><em><strong>Curso Conocimiento de la Norma ISO 9001:2015 </strong></em></td>
                            <td style="text-align:justify">
                                Proporcionar a los participantes los conocimientos del nuevo enfoque basado en los riesgos a fin de documentar, implementar y mantener los sistemas de gestión de calidad con base en la norma ISO 9001: 2015; ello, mediante un trabajo en equipo en los procesos orientados al cliente, los de soporte y los gerenciales; lo que permitirá una medición confiable de la eficacia y la eficiencia en sus organización. El enfoque basado en riesgos aplica para todo tipo de organizaciones sin importar sus tamaño.
                            </td>
                            <td>16 Horas</td>
                        </tr>
                        <tr class="table-warning" style="color:black">
                            <td scope="row">18</td>
                            <td><em><strong>Conocimiento ISO 14001:2015</strong></em></td>
                            <td style="text-align:justify">
                                Proporcionar a los participantes los conocimientos del nuevo enfoque basado en los riegos establecidos para todo tipo de organizaciones sin importar su tamaño y para documentar, implementar y mantener los sistemas de gestión ambiental en base a la Norma ISO 14001:2015, mediante el trabajo en equipo en los procesos orientados al cliente, los procesos de soporte y en procesos gerenciales para poder medir la eficacia y eficiencia en su organización.
                            </td>
                            <td>16 Horas</td>
                        </tr>
                        <tr class="table-warning" style="color:black">
                            <td scope="row">19</td>
                            <td><em><strong>Formación de Auditores Internos Norma ISO-27001:2015 </strong></em></td>
                            <td style="text-align:justify">
                                Auditar el Sistema de Calidad bajo enfoque de proceso.
                            </td>
                            <td>16 Horas</td>
                        </tr>
                        <tr class="table-warning" style="color:black">
                            <td scope="row">
                                20
                            </td>
                            <td><em><strong>Taller “Auditoría Interna” (Norma TL-9000) </strong></em></td>
                            <td style="text-align:justify">Auditar su Sistema TL-9000 bajo enfoque de proceso. </td>
                            <td>24 Horas</td>
                        </tr>
                        <tr class="table-warning" style="color:black">
                            <td scope="row">21</td>
                            <td><em><strong>Interpretación Técnica Norma ISO-27001:2005</strong></em> </td>
                            <td style="text-align:justify">
                                Conocer los requerimientos de un Sistema de Seguridad en Tecnología de Información.
                            </td>
                            <td>8 Horas</td>
                        </tr>
                        <tr class="table-warning" style="color:black">
                            <td scope="row">22</td>
                            <td><em><strong>Curso Modelo Básico por Gestión de Calidad </strong></em></td>
                            <td style="text-align:justify">Incrementar la rentabilidad del negocio a través de la adopción de un modelo básico de gestión por calidad. </td>
                            <td>16 horas</td>
                        </tr>
                        <tr class="table-warning" style="color:black">
                            <td scope="row">23</td>
                            <td><em><strong>Interpretación Técnica (Norma TL-9000) </strong></em></td>
                            <td style="text-align:justify">
                                Conocer los requerimientos de un sistema de calidad en telecomunicaciones TL-9000.
                            </td>
                            <td>16 Horas</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

