
@{
    ViewBag.Title = "Office";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #hero-area {
        background: url('../../images/Capacitacion/Office-365.png') no-repeat 100%;
        background-size: cover;
        background-attachment: fixed;
        padding: 130px 0;
        color: #fff;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        position: relative;
    }


    .table .thead-dark th {
        color: #fff;
        background-color: #212529;
        border-color: #32383e;
    }

    .table-danger, .table-danger > td, .table-danger > th {
        background-color: #f5c6cb;
    }

    .table-bordered td, .table-bordered th {
        border: 1px solid #dee2e6;
    }

    .table td, .table th {
        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .table-hover .table-danger:hover > td, .table-hover .table-danger:hover > th {
        background-color: #f1b0b7;
    }

    .table-warning, .table-warning > td, .table-warning > th {
        background-color: #ffeeba;
    }

    .table-hover .table-warning:hover {
        background-color: #ffe8a1;
    }

    .table-success, .table-success > td, .table-success > th {
        background-color: #c3e6cb;
    }

    .table-hover .table-success:hover > td, .table-hover .table-success:hover > th {
        background-color: #b1dfbb;
    }
    .table-primary, .table-primary > td, .table-primary > th {
        background-color: #b8daff;
    }
    .table-hover .table-primary:hover > td, .table-hover .table-primary:hover > th {
        background-color: #9fcdff;
    }
</style>
<!--
==================================================
Slider Section Start
================================================== -->
<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                    <!-- Slider -->
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            <span> Microsoft Office </span><br>
                            <br />

                            <span class="cd-words-wrapper">
                                <b class="is-visible">Excel</b>
                                <b>Word </b>
                                <b>PowerPoint</b>
                                <b>Access</b>
                            </span>
                        </h1>
                    </section> <!-- cd-intro -->

                </div>
            </div>
        </div>
    </div>
</section>

<section class="global-page-header" style="padding: 35px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <p style="color: #777;" class="text-justify wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">
                        Aprender a manejar a profundidad las herramientas que componen Microsoft Office: Excel, Word, PowerPoint, Access y Outlook. Y mejorar la habilidad de este poderoso conjunto de programas a través de actividades prácticas y útiles.&nbsp;
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeInLeft" data-wow-delay=".3s">
                <table class="table table-bordered table-hover table-responsive">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" style="text-align:center">#</th>
                            <th scope="col" style="text-align:center;" width="35%">CURSO</th>
                            <th scope="col" style="text-align:center">OBJETIVO </th>
                            <th scope="col" style="text-align:center">DURACIÓN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-primary" style="color:black">
                            <td scope="row">1</td>
                            <td><em><strong>Oracle PL / SQL  </strong></em></td>
                            <td style="text-align:justify">
                                Aprenderás las características y el diseño de la base de datos Oracle.
                            </td>
                            <td>20 Horas</td>
                        </tr>
                        <tr class="table-primary" style="color:black">
                            <td scope="row">2</td>
                            <td><em><strong>SQL Server 2014</strong></em></td>
                            <td style="text-align:justify">
                                Para aquellos interesados en crear y administrar Bases de Datos
                            </td>
                            <td>12 Horas</td>
                        </tr>
                        <tr class="table-primary" style="color:black">
                            <td scope="row">3</td>
                            <td>
                                <em><strong>Excel Intermedio-Avanzado </strong></em>
                            </td>
                            <td style="text-align:justify">
                                Al finalizar el curso el participante será capaz de aplicar correctamente las herramientas del programa EXCEL.
                            </td>
                            <td>16 Horas</td>
                        </tr>
                        <tr class="table-primary" style="color:black">
                            <td scope="row">4</td>
                            <td><em><strong>Excel Intermedio </strong></em></td>
                            <td style="text-align:justify">
                                Al finalizar el curso el participante será capaz de aplicar correctamente las herramientas del programa EXCEL.
                            </td>
                            <td>8 Horas</td>
                        </tr>
                        <tr class="table-primary" style="color:black">
                            <td scope="row">5</td>
                            <td><em><strong>Outlook </strong></em></td>
                            <td style="text-align:justify">
                                Conocer las funcionalidades de Outlook
                            </td>
                            <td>12 Horas</td>
                        </tr>
                        <tr class="table-primary" style="color:black">
                            <td scope="row">6</td>
                            <td><em><strong>Word Intermedio Avanzado </strong></em></td>
                            <td style="text-align:justify">
                                Aplicaran WORD como herramienta para la elaboración de documentos
                            </td>
                            <td>16 Horas</td>
                        </tr>
                        <tr class="table-primary" style="color:black">
                            <td scope="row">7</td>
                            <td><em><strong>Curso de ACCESS  Gestión estratégica de Base de Datos </strong></em></td>
                            <td style="text-align:justify">
                                Al finalizar el curso el participante será capaz de generar Tablas, Consultas y generación de reportes, así como usar formularios para hacer aplicaciones.
                            </td>
                            <td>16 Horas</td>
                        </tr>
                        <tr class="table-primary" style="color:black">
                            <td scope="row">8</td>
                            <td><em><strong> Curso de Office 2016</strong></em></td>
                            <td style="text-align:justify">
                                Al finalizar el curso el participante será capaz de aplicar correctamente las herramientas de OFFICE 2016.
                            </td>
                            <td>16 Horas</td>
                        </tr>
                        <tr class="table-primary" style="color:black">
                            <td scope="row">9</td>
                            <td><em><strong>Macros en Excel </strong></em></td>
                            <td style="text-align:justify">
                                Conocer que son las Macros y que podemos hacer con ellas.
                            </td>
                            <td>8 Horas</td>
                        </tr>
                        <tr class="table-primary" style="color:black">
                            <td scope="row">10</td>
                            <td><em><strong> Excel Avanzado</strong></em></td>
                            <td style="text-align:justify">
                                Al finalizar el curso el participante será capaz de aplicar correctamente las herramientas del programa EXCEL como tablas dinámicas, uso de Macros.
                            </td>
                            <td>8 Horas</td>
                        </tr>
                        <tr class="table-primary" style="color:black">
                            <td scope="row">11</td>
                            <td><em><strong>Microsoft Project 2013 </strong></em></td>
                            <td style="text-align:justify">
                                Hacer conocer al participante las características que posee esta poderosa herramienta para la planificación, desarrollo, control y seguimiento de proyectos.
                            </td>
                            <td>8 Horas</td>
                        </tr>
                        <tr class="table-primary" style="color:black">
                            <td scope="row">12</td>
                            <td><em><strong> Presentaciones Efectivas Power Point </strong></em></td>
                            <td style="text-align:justify">
                                Al finalizar el curso el participante empleará correctamente las herramientas del programa Power Point.
                            </td>
                            <td>16 Horas</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>