
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #hero-area {
        background: url('../../images/Capacitacion/innovative_ideas.jpg') no-repeat 100%;
        background-size: cover;
        background-attachment: fixed;
        padding: 130px 0;
        color: #fff;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        position: relative;
    }


    .table .thead-dark th {
        color: #fff;
        background-color: #212529;
        border-color: #32383e;
    }

    .table-danger, .table-danger > td, .table-danger > th {
        background-color: #f5c6cb;
    }

    .table-bordered td, .table-bordered th {
        border: 1px solid #dee2e6;
    }

    .table td, .table th {
        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .table-hover .table-danger:hover > td, .table-hover .table-danger:hover > th {
        background-color: #f1b0b7;
    }

    .table-warning, .table-warning > td, .table-warning > th {
        background-color: #ffeeba;
    }

    .table-hover .table-warning:hover {
        background-color: #ffe8a1;
    }

    .table-success, .table-success > td, .table-success > th {
        background-color: #c3e6cb;
    }
    .table-hover .table-success:hover > td, .table-hover .table-success:hover > th {
        background-color: #b1dfbb;
    }
</style>
<!--
==================================================
Slider Section Start
================================================== -->
<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                    <!-- Slider -->
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            <span> Público en General </span><br>
                            <br />

                            <span class="cd-words-wrapper">
                                <b class="is-visible">talleres</b>
                                <b>tecnología </b>
                                <b>humanísticos</b>
                                <b>innovación</b>
                            </span>
                        </h1>
                    </section> <!-- cd-intro -->

                </div>
            </div>
        </div>
    </div>
</section>

<section class="global-page-header" style="padding: 35px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <p style="color: #777;" class="text-justify wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">
                        Contamos con talleres y cursos en temas de tecnología, humanísticos y  de interés en general; es por ello que siempre buscamos tener innovación y creatividad para ti, pero sobre todo nuestro objetivo es que tengas una experiencia única al ser participe de esta vivencia.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeInLeft" data-wow-delay=".3s">
                <table class="table table-bordered table-hover table-responsive">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" style="text-align:center">#</th>
                            <th scope="col" style="text-align:center;" width="35%">CURSO</th>
                            <th scope="col" style="text-align:center">OBJETIVO </th>
                            <th scope="col" style="text-align:center">DURACIÓN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-success" style="color:black">
                            <td>1</td>
                            <td><em><strong>Taller de Fotografia utilizando tu propio Celular</strong></em></td>
                            <td style="text-align:justify">
                                A todo el público en general que desee conocer trucos, técnicas e ideas de captar una imagen de forma instantánea en el momento preciso, a través de su equipo móvil.
                            </td>
                            <td>5 horas</td>
                        </tr>
                        <tr class="table-success" style="color:black">
                            <td>2</td>
                            <td><em><strong>Cómo seleccionar una App</strong></em></td>
                            <td style="text-align:justify">
                                A todo el público en general que desee conocer trucos, técnicas e ideas de bajar y comparar una APP para su  equipo móvil.
                            </td>
                            <td>5 horas</td>
                        </tr>
                        <tr class="table-success" style="color:black">
                            <td>3</td>
                            <td>
                                <em><strong>Navegando Efectivamente en Internet</strong></em>
                            </td>
                            <td style="text-align:justify">
                                Que el participante conozca y entienda las funciones de los navegadores de Internet y la manera de navegar en ellos.
                            </td>
                            <td>10 Horas</td>
                        </tr>
                        <tr class="table-success" style="color:black">
                            <td>4</td>
                            <td><em><strong>Reiki</strong></em></td>
                            <td style="text-align:justify">
                                REIKI  es una técnica de transferencia de energía universal por imposición de las manos con el fin de promover la curación energética y física.<br><br>
                                Dirigido: A todo el público en general que esté interesado en conocer y experimentar los beneficios de esta práctica holística para beneficio personal con impacto social.
                            </td>
                            <td>5 horas</td>
                        </tr>
                        <tr class="table-success" style="color:black">
                            <td>5</td>
                            <td><em><strong>Empoderamiento personal</strong></em> </td>
                            <td style="text-align:justify">
                                La intención es facilitar un adentramiento en ustedes mismos, para retomar lo más poderoso que tienen e iniciar un camino de redescubrimiento de sus potencialidades.
                            </td>
                            <td>8 Horas</td>
                        </tr>
                        <tr class="table-success" style="color:black">
                            <td>6</td>
                            <td><em><strong>Taller de Meditación</strong></em></td>
                            <td style="text-align:justify">
                                Manejaremos una armonia interna del ser, en donde a traves de ejericios de Yoga podremos llegar a liberar la tension .
                            </td>
                            <td>5 horas</td>
                        </tr>
                        <tr class="table-success" style="color:black">
                            <td>7</td>
                            <td><em><strong>Taller de Respiración Alquimica</strong></em></td>
                            <td style="text-align:justify">
                                Un espacio de verdadera intimidad mas allá de la sexualidad redescubriéndose como individuos y elegirse como parejas.
                            </td>
                            <td>5 horas</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>