
@{
    Layout = null;
}




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Asae Consultores S.A de C.V</title>
    <link rel="icon" href="~/images/ico.ico">
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="~/Assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/Assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="~/Assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="~/Assets/css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />
    <link href="~/Assets/css/main.css" rel="stylesheet" />
    <style>

        .alert [data-notify="message"] {
            font-size: 13px;
            color: rgb(255 255 255 / 90%);
        }

        .alert-primary {
            background-image: linear-gradient(310deg,#7928ca,#d6006c)
        }

        .alert-secondary {
            background-image: linear-gradient(310deg,#627594,#8ca1cb)
        }

        .alert-success {
            background-image: linear-gradient(310deg,#17ad37,#84dc14)
        }

        .alert-info {
            background-image: linear-gradient(310deg,#2152ff,#02c6f3);
            border: 0px solid #000000;
            -moz-border-radius: 7px;
            -webkit-border-radius: 7px;
            box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
        }

        .alert-warning {
            background-image: linear-gradient(310deg,#f53939,#fac60b);
            color: rgb(255 255 255 / 90%);
            border: 0px solid #000000;
            -moz-border-radius: 7px;
            -webkit-border-radius: 7px;
        }

        .alert-danger {
            background-image: linear-gradient(310deg,#ea0606,#ff3d59)
        }

        .alert-light {
            background-image: linear-gradient(310deg,#ced4da,#d1dae6)
        }

        .alert-dark {
            background-image: linear-gradient(310deg,#141727,#2c3154)
        }

        .btn-close:focus {
            box-shadow: none
        }
    </style>
</head>
<body class="">
    <div class="container position-sticky z-index-sticky top-0">
        <div class="row">
            <div class="col-12">
                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg blur blur-rounded top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
                    <div class="container-fluid">
                        <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " href="#">
                            Asae Consultores
                        </a>
                        <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon mt-2">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </span>
                        </button>
                        <div class="collapse navbar-collapse" id="navigation">
                            <ul class="navbar-nav mx-auto">
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" href="#">
                                        <i class="fa fa-chart-pie opacity-6 text-dark me-1"></i>
                                        Soluciones
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link me-2" href="#">
                                        <i class="fa fa-user opacity-6 text-dark me-1"></i>
                                        Servicios
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link me-2" href="#">
                                        <i class="fas fa-user-circle opacity-6 text-dark me-1"></i>
                                        Contacto
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link me-2" href="#">
                                        <i class="fas fa-key opacity-6 text-dark me-1"></i>
                                        Blog
                                    </a>
                                </li>
                            </ul>
                            <ul class="navbar-nav d-lg-block d-none">
                                <li class="nav-item">
                                    <a href="" class="btn btn-sm btn-round mb-0 me-1 bg-gradient-dark">Intranet</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- End Navbar -->
            </div>
        </div>
    </div>
    <main class="main-content  mt-0">
        <section>
            <div class="page-header min-vh-75">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                            <div class="card card-plain mt-6">
                                <div class="card-header pb-0 text-left bg-transparent text-center">
                                    <a href="@Url.Action("Index", "Home")"><img src="~/images/jobctrl/asaelogo.png" width="40%" /></a>
                                    <br /><br />
                                    <h3 class="font-weight-bolder text-info text-gradient">Administración <br />@*ASAE Consultores*@ </h3>
                                    <p class="mb-0">Ingrese su correo electrónico y contraseña para iniciar sesión</p>
                                </div>
                                <div class="card-body">
                                    <form role="form">
                                        <label>Email</label>
                                        <div class="mb-3">
                                            <input type="email" class="form-control" placeholder="Email" aria-label="Email" id="Email" aria-describedby="email-addon">
                                            <div id="LablelEmail" class="text-left"></div>
                                        </div>

                                        <label>Password</label>
                                        <div class="mb-3">
                                            <input type="password" class="form-control" placeholder="Password" aria-label="Password" id="Password" aria-describedby="password-addon">
                                            <div id="LablelPassword" class="text-left"></div>
                                        </div>
                                        <div class="form-check form-switch" style="display:none">
                                            <input class="form-check-input" type="checkbox" id="rememberMe" checked="">
                                            <label class="form-check-label" for="rememberMe">Recordar password </label>
                                        </div>
                                        <div class="text-center">
                                            <button type="button" id="BtnIniciar" class="btn bg-gradient-info w-100 mt-4 mb-0">Iniciar sesión </button>
                                        </div>
                                    </form>
                                    <div class="text-center">
                                        <div id="LablelSesion"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image: url('../assets/img/curved-images/curved6.jpg') "></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- -------- START FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
    <footer class="footer py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-4 mx-auto text-center">
                    <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                        Asae Consultores
                    </a>
                    <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                        Aviso de privacidad
                    </a>
                    <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                        Soluciones
                    </a>
                    <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                        Servicios
                    </a>
                    <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                        Blog
                    </a>
                    <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                        Intranet
                    </a>
                </div>
                <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
                    <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
                        <span class="text-lg fab fa-dribbble"></span>
                    </a>
                    <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
                        <span class="text-lg fab fa-twitter"></span>
                    </a>
                    <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
                        <span class="text-lg fab fa-instagram"></span>
                    </a>
                    <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
                        <span class="text-lg fab fa-pinterest"></span>
                    </a>
                    <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
                        <span class="text-lg fab fa-github"></span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-8 mx-auto text-center mt-1">
                    <p class="mb-0 text-secondary">
                        Copyright ©
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- -------- END FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
    <!--   Core JS Files   -->
    <script src="~/Assets/js/core/popper.min.js"></script>
    <script src="~/Assets/js/core/bootstrap.min.js"></script>
    <script src="~/Assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/Assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/Assets/js/soft-ui-dashboard.min.js?v=1.0.3"></script>

    <script src="~/Assets/js/plugins/jquery-3.2.1.min.js"></script>
    <script src="~/Assets/js/plugins/bootstrap-notify.js"></script>
    <script>
        $(document).ready(function () {
            $('#BtnIniciar').click(function () {
                if (ValidarForm()) {
                    var Recordar = 0;
                    var obj = {};

                    if ($('#rememberMe').prop('checked')) {
                        Recordar = 1;
                    }

                    obj['Usuario'] = $("#Email").val();
                    obj['Password'] = $("#Password").val();
                    obj['Session'] = Recordar;


                    var jsonObject = {
                        "Usuario": obj
                    };

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("IniciarSesion", "Adm")",
                        data: JSON.stringify(jsonObject),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: Resultado,
                        error: Error
                    });

                }
            });
        });


        function Resultado(result)
        {
            if (result.Id > 0) {
                 window.location.href = '@Url.Action("dashboard", "Adm")';
            } else {
                $('#LablelEmail').html(" ");
                $('#LablelPassword').html(" ");
                $('#LablelSesion').html(" ");
                $('#LablelSesion').html("<small class='help-block2' > " + result.RutaAcceso +".</small>");
                $.notify({
                    // options
                    icon: 'fa fa-exclamation-triangle',
                    message: result.RutaAcceso
                }, {
                    // settings
                    type: 'warning'
                });
            }

        }

        function Error(result)
        {

        }

        function ValidarForm() {
            var result = false;

            if ($('#Email').val().length > 0) {
                $('#Email').css("border", "1px solid #d2d6da");
                //$('#LablelEmail').html("<small class='good'><i class='fa fa-check' aria-hidden='true'></i></small>");
            } else {
                $('#Email').css("border", "1px solid #e293d3");
                $('#LablelEmail').html("<small class='help-block' > Campo requerido.</small>");
            }

            if ($('#Password').val().length > 0) {
                $('#Password').css("border", "1px solid #d2d6da");
                //$('#LablelPassword').html("<small class='good'><i class='fa fa-check' aria-hidden='true'></i></small>");
            } else {
                $('#Password').css("border", "1px solid #e293d3");
                $('#LablelPassword').html("<small class='help-block' > Campo requerido.</small>");
            }

            if ($('#Email').val().length > 0) {
                if ($('#Password').val().length > 0) {
                    result = true;
                }
            }

            return result;
        }
    </script>

</body>
</html>
