
@{
    ViewBag.Title = "Fabrica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #hero-area {
        background: url('../../images/soluciones/desarrollo_fpnde.jpg') no-repeat 100%;
        background-size: cover;
        background-attachment: fixed;
        padding: 130px 0;
        color: #fff;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        position: relative;
    }

        #hero-area:before {
            content: '';
            z-index: 9;
            background: rgb(255 255 255 / 3%);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

    .cd-headline.slide .cd-words-wrapper {
        color: #9E9E9E;
    }

    #hero-area h1 {
        font-size: 40px;
        line-height: 50px;
        color: #08bbd2;
        font-weight: 700;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    .title {
        font-size: 30px;
        line-height: 1.1;
        font-weight: 300;
        color: #03bdd5;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
</style>
<!--
==================================================
Slider Section Start
================================================== -->
<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                    <!-- Slider -->
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            <span> Fábrica de Software </span><br>
                            <br />

                            <span class="cd-words-wrapper">
                                <b class="is-visible">Desarrollamos</b>
                                <b>soluciones </b>
                                <b>personalizadas</b>
                                <b>Software</b>
                            </span>
                        </h1>
                    </section> <!-- cd-intro -->

                </div>
            </div>
        </div>
    </div>
</section>

<section class="global-page-header" style="padding: 35px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <p style="color: #777;" class="text-justify wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">
                    
                        Incremente la capacidad de desarrollo de forma segura y eficiente enfocando los esfuerzos de su personal técnico a la estrategia de la empresa y no al código de programación. Nuestra Fábrica de Software se encargará de atender el código haciendo la programación de los requerimientos de negocio, podrá entregar resultados oportunos y en mayor cantidad que si trata de hacerlo con su personal actual.
                        <br><br>
                        Existen muchos casos de éxito en la industria con la integración de una Fábrica de Software en los proyectos.

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<br /><br />
