
@{
    ViewBag.Title = "Proyectos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #hero-area {
        background: url('../../images/soluciones/desarrolloInte.jpg') no-repeat 100%;
        background-size: cover;
        background-attachment: fixed;
        padding: 130px 0;
        color: #fff;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        position: relative;
    }



    .cd-headline.slide .cd-words-wrapper {
        color: #9E9E9E;
    }

    #hero-area h1 {
        font-size: 40px;
        line-height: 50px;
        color: #08bbd2;
        font-weight: 700;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    .title {
        font-size: 30px;
        line-height: 1.1;
        font-weight: 300;
        color: #03bdd5;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
</style>
<!--
==================================================
Slider Section Start
================================================== -->
<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                    <!-- Slider -->
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            <span> Administración de Proyectos </span><br>
                            <br />

                            <span class="cd-words-wrapper">
                                <b class="is-visible">experiencia</b>
                                <b>proyectos </b>
                                <b>realizados</b>
                            </span>
                        </h1>
                    </section> <!-- cd-intro -->

                </div>
            </div>
        </div>
    </div>
</section>

<section class="global-page-header" style="padding: 35px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <p style="color: #777;" class="text-justify wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">
                        Contamos con la experiencia de varios proyectos realizados a lo largo de los años en el sector de la Informática, garantizando su satisfacción total.
                        <br><br>
                        Ponemos a su disposición nuestra Oficina de Proyectos, con la cual su Dirección de Tecnología de la Información podrá dar seguimiento puntual al avance de los proyectos que tenga en marcha, llevando el control de Costos, Avance del Proyecto, Desviaciones y Puntos de Mitigación, así como la Asignación de tareas por persona.

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-5 wow fadeInLeft" data-wow-delay=".3s">
                <img src="~/images/soluciones/Administracion-de-proyectos-imagen.png" width="100%"/>
            </div>
            <div class="col-md-7">
                <div class="block">
                    <p style="color: #777;" class="text-justify wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">
                        También podemos tomar de forma integral la administración de un proyecto, empleando a sus recursos para el desarrollo e Implementación del proyecto, logrando con esto que su Dirección de TI conserve el expertise.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>



<br />
<br />


