
@{
    ViewBag.Title = "Pruebas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #hero-area {
        background: url('../../images/soluciones/desarrollo2.jpg') no-repeat 100%;
        background-size: cover;
        background-attachment: fixed;
        padding: 130px 0;
        color: #fff;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        position: relative;
    }

        #hero-area:before {
            content: '';
            z-index: 9;
            background: rgb(255 255 255 / 3%);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

    .cd-headline.slide .cd-words-wrapper {
        color: #9E9E9E;
    }

    #hero-area h1 {
        font-size: 40px;
        line-height: 50px;
        color: #08bbd2;
        font-weight: 700;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    .title {
        font-size: 30px;
        line-height: 1.1;
        font-weight: 300;
        color: #03bdd5;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
</style>
<!--
==================================================
Slider Section Start
================================================== -->
<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                    <!-- Slider -->
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            <span> Fábrica de Pruebas </span><br>
                            <br />

                            <span class="cd-words-wrapper">
                                <b class="is-visible">Desarrollamos</b>
                                <b>soluciones </b>
                                <b>personalizadas</b>
                                <b>Software</b>
                            </span>
                        </h1>
                    </section> <!-- cd-intro -->

                </div>
            </div>
        </div>
    </div>
</section>

<section class="global-page-header" style="padding: 35px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-5 wow fadeInLeft" data-wow-delay=".3s">
                <img src="~/images/soluciones/f2786e13fead8c89727f31ece96902b1.jpg" width="100%" />
            </div>
            <div class="col-md-7">
                <div class="block">
                    <p style="color: #777;" class="text-justify wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">
                        Ponemos a su disposición nuestra Fábrica de Pruebas, mediante metodología propia y probada se garantiza la mitigación total de fallas en la puesta en producción de la nueva programación, las podemos realizar desde nuestra Fábrica o integrando consultores en sus oficinas para que apliquen las pruebas requeridas a los aplicativos.
                        <br><br>
                        Podemos operar dentro o fuera de las oficinas de nuestros Clientes, contamos con un equipo de programadores dedicados a desarrollar los requerimientos que les lleguen, ya sean normativos, evolutivos o de mejora.

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <p style="color: #777;" class="text-justify wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">
                        Es vital asegurar que la puesta en marcha de un cambio a la programación no tenga ninguna implicación a la hora de llegar a producción, asegurando que no se altere la información y/o la operación de atención a Clientes externos e internos o peor aún que el sistema deje de operar.
                        <br><br>
                        Por pruebas deficientes o una mala calidad en pruebas, puede provocar desconfianza en los usuarios de las aplicaciones y provocar mala imagen de un buen desarrollo.

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<br />
<br />
