
@{
    ViewBag.Title = "Evaluacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #hero-area {
        background: url('../../images/IntegracionTalento/44132313_l.jpg') no-repeat 100%;
        background-size: cover;
        background-attachment: fixed;
        padding: 130px 0;
        color: #fff;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        position: relative;
    }


    .cd-headline.slide .cd-words-wrapper {
        color: #9E9E9E;
    }

    #hero-area h1 {
        font-size: 40px;
        line-height: 50px;
        color: #08bbd2;
        font-weight: 700;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    .title {
        font-size: 30px;
        line-height: 1.1;
        font-weight: 300;
        color: #03bdd5;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
</style>
<!--
==================================================
Slider Section Start
================================================== -->
<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                    <!-- Slider -->
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            <span> Evaluaciones Psicométricas </span><br>
                            <br />

                            <span class="cd-words-wrapper">
                                <b class="is-visible">herramientas</b>
                                <b>evaluación </b>
                                <b>enfoque</b>
                                <b>100% laboral</b>
                            </span>
                        </h1>
                    </section> <!-- cd-intro -->

                </div>
            </div>
        </div>
    </div>
</section>

<section class="global-page-header" style="padding: 35px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="block">
                    <p style="color: #777;" class="text-justify wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">
                        Contamos con una metodología de evaluación psicométrica que nos permite determinar: La cultura corporativa, así como los niveles de la estructura organizacional en las diferentes áreas de evaluación.
                        <br><br>
                        Al tener contacto con los evaluados, podemos determinar el comportamiento físico y valorar aptitudes, entregando por escrito nuestra opinión sobre el evaluado para una mejor selección por parte del contratante.
                        <br><br>
                        Las herramientas de evaluación tienen un enfoque 100% laboral y cuenta con las siguientes áreas de evaluación:
                    </p>
                </div>
            </div>

            <div class="col-md-5 wow fadeInLeft" data-wow-delay=".3s">
                <img src="~/images/IntegracionTalento/5.jpg" width="100%"/>
            </div>


        </div>
    </div>
</section>

<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="block">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-primary"  style="background-color:#9E9E9E">Comportamiento Organizacional</li>
                        <li class="list-group-item list-group-item-dark">Bases Motivacionales</li>
                        <li class="list-group-item list-group-item-light"  style="background-color:#9E9E9E">Capacidad Intelectual</li>
                        <li class="list-group-item list-group-item-primary">Habilidades Gerenciales</li>
                        <li class="list-group-item list-group-item-dark"  style="background-color:#9E9E9E">Control Emocional</li>
                        <li class="list-group-item list-group-item-light">Actitud de Servicio</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="block">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-primary"  style="background-color:#9E9E9E">Competencia en Ventas</li>
                        <li class="list-group-item list-group-item-dark">Supervisión de Personal</li>
                        <li class="list-group-item list-group-item-light"  style="background-color:#9E9E9E">Rasgos Operativos</li>
                        <li class="list-group-item list-group-item-primary">Capacidad Intelectual Niveles Operativos</li>
                        <li class="list-group-item list-group-item-dark"  style="background-color:#9E9E9E">Pruebas Proyectivas o Análisis del Rostro</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>




<br />
<br />


