
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #hero-area {
        background: url('../../images/IntegracionTalento/tendencias-mundiales-reclutamiento-seleccion-personal.png') no-repeat 100%;
        background-size: cover;
        background-attachment: fixed;
        padding: 130px 0;
        color: #fff;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        position: relative;
    }


    .cd-headline.slide .cd-words-wrapper {
        color: #9E9E9E;
    }

    #hero-area h1 {
        font-size: 40px;
        line-height: 50px;
        color: #08bbd2;
        font-weight: 700;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    .title {
        font-size: 30px;
        line-height: 1.1;
        font-weight: 300;
        color: #03bdd5;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
</style>
<!--
==================================================
Slider Section Start
================================================== -->
<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                    <!-- Slider -->
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            <span> Integración de Talento </span><br>
                            <br />

                            <span class="cd-words-wrapper">
                                <b class="is-visible">administración</b>
                                <b>Capital </b>
                                <b>Humano</b>
                            </span>
                        </h1>
                    </section> <!-- cd-intro -->

                </div>
            </div>
        </div>
    </div>
</section>

<section class="global-page-header" style="padding: 35px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <p style="color: #777;" class="text-justify wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">
                        La administración del Capital Humano debe ser tan importante como la atención y servicios que ofrecemos a nuestros Clientes, una persona motivada y bien valorada, entregará un mejor servicio o producto a nuestros Clientes, tener al mejor personal, es garantía de crecimiento de nuestra empresa y satisfacción de nuestros Clientes.
                        <br><br>
                        En Asae Consultores le podemos ayudar en la administración del talento, con nuestros servicios su empresa no tendría la necesidad de hacer inversiones en software y/o hardware, podemos desde hacer la selección de los mejores elementos para su empresa, como la administración de la nómina, además de ayudarle en la evaluación de su personal actual para detectar fortalezas y debilidades, estableciendo planes de mejora, así como planes de carrera y remuneración. También podemos incluir personal especializado en Tecnología para apoyar a sus proyectos o en alguna emergencia donde se requiera personal eventual, todo apegado a la nueva ley laboral.
                        <br><br>
                        Para todo esto ponemos a su disposición los siguientes servicios:
                        <br><br>
                        <span style="font-weight:bold">
                            Integración de Talento.
                        </span>
                        <br>
                        <span style="font-weight:bold">
                            Evaluaciones del Capital Humano 360 grados.
                        </span>
                        <br>
                        <span style="font-weight:bold">
                            Administración de Nomina.
                        </span>
                        <br>
                        <span style="font-weight:bold">
                            Capacitación.
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-5 wow fadeInLeft" data-wow-delay=".3s">
                <img src="~/images/IntegracionTalento/6.jpg" width="100%"/>
            </div>
            <div class="col-md-7">
                <div class="block">
                    <p style="color: #777;" class="text-justify wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">
                        Mediante el establecimiento de un contrato de prestación de servicios por tiempo determinado, podemos integrar personal especializado en Tecnología de la Información, expertos en Bases de Datos, Administradores de Proyectos, Analistas de Negocio, Desarrolladores, etc., personal calificado, con pasión por el trabajo. Este personal puede ser dirigido por nosotros o integrarse al equipo de trabajo y ser gestionados por el administrador de la actividad.
                        <br><br>
                        La ventaja para su empresa es el no tener la administración de la nómina de este personal, la deducción fiscal por la facturación mensual del servicio, contar con personal experto, retiro del personal en caso de término del proyecto o disminución de actividades; Lo anterior apegados a la nueva ley laboral.
                    </p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="block">
                    <p style="color: #777;" class="text-justify wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">
                        Asae Consultores pone un administrador que al menos una vez a la semana esté presente en sus oficinas, supervisando al personal corrigiendo algún fallo de ausentismo o conflicto, además de detectar necesidades de nuestro Cliente.
                        <br><br>
                        Contamos con un proceso de reclutamiento especializado, en el cual todos los candidatos son evaluados rigurosamente para garantizar que cuentan con los conocimientos técnicos y el perfil de personalidad apropiados para colaborar en sus proyectos exitosamente.
                        <br><br>
                        <span style="font-weight:bold">
                            Podemos armar cualquier Work Team y reforzar sus proyectos.
                        </span>
                    </p>
                </div>
            </div>

            <div class="col-md-12">
                <br /><br /><br/><br />
                <div class="row service-parts">
                    <div class="col-md-4">
                        <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
                            <a href="@Url.Action("Reclutamiento", "IntegracionTalento")">
                                <i class="ion-ios-personadd"></i>
                                <h4>Reclutamiento de Personal </h4>
                                <p>Contamos con diferentes fuentes de reclutamiento lo que nos permite generar una amplia cartera de candidatos de diferentes perfiles de puesto.</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="800ms">
                            <a href="@Url.Action("Evaluacion", "IntegracionTalento")">
                                <i class="ion-ios-folder"></i>
                                <h4>Evaluación Psicométricas </h4>
                                <p>Contamos con una metodología de evaluación psicométrica que nos permite determinar: La cultura corporativa, así como los niveles de la estructura ...</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="1s">
                            <a href="@Url.Action("Nomina", "IntegracionTalento")">
                                <i class="ion-android-notifications"></i>
                                <h4>Administración de Nómina </h4>
                                <p>Destine su presupuesto a proyectos que hagan crecer a su negocio, nosotros nos encargamos de administrar la nómina del personal de su empresa y asesorarlo ...</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



<br />
<br />
