
@{
    ViewBag.Title = "Nomina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #hero-area {
        background: url('../../images/IntegracionTalento/contabilidad.jpg') no-repeat 100%;
        background-size: cover;
        background-attachment: fixed;
        padding: 130px 0;
        color: #fff;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        position: relative;
    }


    .cd-headline.slide .cd-words-wrapper {
        color: #9E9E9E;
    }

    #hero-area h1 {
        font-size: 40px;
        line-height: 50px;
        color: #08bbd2;
        font-weight: 700;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    .title {
        font-size: 30px;
        line-height: 1.1;
        font-weight: 300;
        color: #03bdd5;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
</style>
<!--
==================================================
Slider Section Start
================================================== -->
<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                    <!-- Slider -->
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            <span> Administración de Nómina </span><br>
                            <br />

                            <span class="cd-words-wrapper">
                                <b class="is-visible">Optimización</b>
                                <b>costo </b>
                                <b>software</b>
                                <b>personal</b>
                            </span>
                        </h1>
                    </section> <!-- cd-intro -->

                </div>
            </div>
        </div>
    </div>
</section>

<section class="global-page-header" style="padding: 35px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-5 wow fadeInLeft" data-wow-delay=".3s">
                <img src="~/images/IntegracionTalento/8.jpg" width="100%"/>
            </div>
            <div class="col-md-7">
                <div class="block">
                    <p style="color: #777;" class="text-justify wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">
                        Destine su presupuesto a proyectos que hagan crecer a su negocio, nosotros nos encargamos de administrar la nómina del personal de su empresa y asesorarlo en las distintas situaciones laborales…
                        <br><br>
                        Optimización en costo de software y de personal experto para la elaboración de su nómina.
                        <br><br>
                        Contar con información oportuna para la realización de cálculos cuando así usted lo desee.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="block">
                <p style="color: #777;" class="text-justify wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">
                    Como un servicios sin costo para su empresa le otorgamos asesoría  en los trámites ante el IMSS, SAT e Infonavit.&nbsp;Así como la previsión de conflictos laborales con algún empleado.
                </p>
            </div>
        </div>
    </div>
</section>




<br />
<br />



