
@{
    ViewBag.Title = "Reclutamiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #hero-area {
        background: url('../../images/IntegracionTalento/6.jpg') no-repeat 100%;
        background-size: cover;
        background-attachment: fixed;
        padding: 130px 0;
        color: #fff;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        position: relative;
    }


    .cd-headline.slide .cd-words-wrapper {
        color: #9E9E9E;
    }

    #hero-area h1 {
        font-size: 40px;
        line-height: 50px;
        color: #08bbd2;
        font-weight: 700;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    .title {
        font-size: 30px;
        line-height: 1.1;
        font-weight: 300;
        color: #03bdd5;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
</style>
<!--
==================================================
Slider Section Start
================================================== -->
<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                    <!-- Slider -->
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            <span> Reclutamiento de Personal </span><br>
                            <br />

                            <span class="cd-words-wrapper">
                                <b class="is-visible">tiempos</b>
                                <b>respuesta </b>
                                <b>aprobación</b>
                                <b>propuesta</b>
                            </span>
                        </h1>
                    </section> <!-- cd-intro -->

                </div>
            </div>
        </div>
    </div>
</section>

<section class="global-page-header" style="padding: 35px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <p style="color: #777;" class="text-justify wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">
                        De acuerdo al perfil solicitado por el cliente, en donde nos determinan el puesto de la vacante, así como la escolaridad, capacitación, experiencia requerida y características especiales de contratación, en Asae Consultores iniciamos el proceso de reclutamiento y la pre-selección del personal. Este servicio se realiza a nivel directivo, administrativo, técnico, operativo y especializado en TI.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-5 wow fadeInLeft" data-wow-delay=".3s">
                <img src="~/images/IntegracionTalento/people-woman-coffee-meeting.jpg" width="100%" />
            </div>
            <div class="col-md-7">
                <div class="block">
                    <p style="color: #777;" class="text-justify wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">
                        En Asae Consultores, contamos con diferentes fuentes de reclutamiento lo que nos permite generar una amplia cartera de candidatos de diferentes perfiles de puesto, los cuales son pre-seleccionados basándonos en una entrevista cruzada y la aplicación de las evaluaciones psicométricas (o técnicas) acordes al perfil del puesto solicitado.
                        Los tiempos de respuesta a partir de la aprobación de la propuesta y perfil de puesto dependen de cada vacante y de la retroalimentación del cliente.
                    </p>
                </div>
            </div>
            
        </div>
    </div>
</section>



<br />
<br />

