
@{
    ViewBag.Title = "Impresion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #hero-area {
        background: url('../../images/servicios/pcinbox-servicio-servicio-de-impresion2.jpg') no-repeat 100%;
        background-size: cover;
        background-attachment: fixed;
        padding: 130px 0;
        color: #fff;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        position: relative;
    }

    /*#hero-area:before {
            content: '';
            z-index: 9;
            background-image: linear-gradient(114deg, #05105682 11%,#009688a6 94%);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }*/

    .cd-headline.slide .cd-words-wrapper {
        color: #9E9E9E;
    }

    #hero-area h1 {
        font-size: 40px;
        line-height: 50px;
        color: #08bbd2;
        font-weight: 700;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    .title {
        font-size: 30px;
        line-height: 1.1;
        font-weight: 300;
        color: #03bdd5;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

</style>

<!--
==================================================
Slider Section Start
================================================== -->
<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                    <!-- Slider -->
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            <span> Servicios Administrados de Impresión. </span><br>
                            <br />

                            <span class="cd-words-wrapper">
                                <b class="is-visible">Planeación </b>
                                <b>y Diseño</b>
                                <b>Instalación de </b>
                                <b>Equipos de</b>
                                <b>impresión.</b>
                                <b>
                                    Capacitación en el
                                </b>
                                <b>uso de los equipos </b>
                                <b>de impresión.</b>
                                <b>Provisión de </b>
                                <b>consumibles.</b>
                            </span>
                        </h1>
                    </section> <!-- cd-intro -->

                </div>
            </div>
        </div>
    </div>
</section><!--/#main-slider-->

<section class="global-page-header" style="padding: 35px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">

                </div>
            </div>
        </div>
    </div>
</section>


<!--
==================================================
    Service Page Section  Start
================================================== -->
<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">

                <div class="block">
                    <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">

                        Nuestro servicio de Administración de Impresión le permitirá a su organización acceder a nuevas capacidades, liberar recursos para otros propósitos, mejorar el enfoque de la empresa, reducir costos operativos y liberar recursos financieros a la vez que se mitigan y transfieren riesgos.

                    </p>
                    <div class="row service-parts">
                        <div class="col-md-6">
                            <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms" style="text-align:center;">
                                Para la gestión de los servicios de impresión contamos con:
                            </h2>
                            <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
                                <i class="ion-ios-paper-outline"></i>

                                <p><span style="font-weight:bold"> •	</span>Administración de Consumibles (Administración de órdenes y cumplimiento).</p>
                                <p><span style="font-weight:bold"> •	</span>Continuidad en el servicio (Mantenimiento y reparación de productos).</p>
                                <p><span style="font-weight:bold"> •	</span>Optimización de los Servicios (Optimización en la productividad de las personas y de la tecnología).</p>

                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms" style="text-align:center;">
                                Componentes del Servicio
                            </h2>
                            <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="800ms">
                                <i class="ion-ios-pint-outline"></i>
                                
                                <p><span style="font-weight:bold"> •	</span> Planeación y Diseño.</p>
                                <p><span style="font-weight:bold"> •	</span>Instalación de equipos de impresión.</p>
                                <p><span style="font-weight:bold"> •	</span>Capacitación en el uso de los equipos de impresión.</p>
                                <p><span style="font-weight:bold"> •	</span>Provisión de consumibles.</p>
                                <p><span style="font-weight:bold"> •	</span>Soporte preventivo y correctivo.</p>
                                <p><span style="font-weight:bold"> •	</span>Administración de los servicios de impresión.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                </div>
            @*<div class="col-md-12">
                <div class="block">
                    <img class="img-responsive" src="~/images/servicios/15-07-Servicios-De-Impresion.jpg" />
                </div>
            </div>*@
        </div>
    </div>
</section>