
@{
    ViewBag.Title = "Infraestructura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #hero-area {
        background: url('../../images/servicios/Servidor1.jpg') no-repeat 100%;
        background-size: cover;
        background-attachment: fixed;
        padding: 130px 0;
        color: #fff;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        position: relative;
    }

    /*#hero-area:before {
            content: '';
            z-index: 9;
            background-image: linear-gradient(114deg, #05105682 11%,#009688a6 94%);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }*/

    .cd-headline.slide .cd-words-wrapper {
        color: #9E9E9E;
    }

    #hero-area h1 {
        font-size: 40px;
        line-height: 50px;
        color: #08bbd2;
        font-weight: 700;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    .title {
        font-size: 30px;
        line-height: 1.1;
        font-weight: 300;
        color: #03bdd5;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    #hero-area:before {
        content: '';
        z-index: 9;
        background: rgb(255 255 255 / 92%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
</style>
<!--
==================================================
Slider Section Start
================================================== -->
<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                    <!-- Slider -->
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            <span> Administración de Infraestructura. </span><br>
                            <br />

                            <span class="cd-words-wrapper">
                                <b class="is-visible">Consultoría </b>
                                <b>Soporte</b>
                                <b>Técnico</b>
                            </span>
                        </h1>
                    </section> <!-- cd-intro -->

                </div>
            </div>
        </div>
    </div>
</section>

<section class="global-page-header" style="padding: 35px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                </div>
            </div>
        </div>
    </div>
</section>


<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <p style="color: #777;" class="text-justify wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">
                        Es vital en todo negocio, asegurar la continuidad de los procesos, por lo que se debe garantizar la eficiencia ya lograda con la implementación de soluciones informáticas, lo anterior nos obliga a establecer reglas, medir, identificar desviaciones y mejorar los entregables, en Asae Consultores ponemos a su disposición nuestros servicios de valor agregado para su negocio.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>






<!--/#main-slider-->
<!--
==================================================
    Company Description Section Start
================================================== -->
<section class="company-description">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s">
                <br /><br /><br />
                <img src="~/images/servicios/portaril.jpg" alt="" class="img-responsive"/>
                <br /><br />
            </div>
            <div class="col-md-6">
                <div class="block">
                    <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms" style="text-align:center;">
                        Consultoría y Soporte Técnico
                    </h2>
                    <br /><br />
                    <p class="text-justify wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                        Por proyecto, por hora, o por evento el área de Consultoría y Soporte Técnico de ASAE CONSULTORES brinda la asesoría necesaria en sitio o vía remota para dar solución a problemas de administración y configuración de servidores o productos instalados de Microsoft.
                        <br><br>
                        Podemos colaborar con su área técnica para diagnosticar la eficiencia en los procesos, la instalación de los distintos productos de Microsoft, nuevos requerimientos de capacidad y poder de computo, sugiriendo el tipo de mejora requerido que garantice la eficiencia y continuidad del servicio.
                        <br><br>
                        Se ofrece el Soporte Técnico necesario para atender eventos inesperados que estén afectando la continuidad en la operación de su negocio.

                    </p>

                    @*<p class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration="500ms">
            Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
        </p>*@

                </div>
            </div>
        </div>
    </div>
</section>

<section class="company-description">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms" style="text-align:center;">
                        Administración de servidores y equipos PC
                    </h2>
                    <br><br />
                    <p class="text-justify wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                        Una empresa será tan dinámica, como lo sea su departamento de TI.
                        <br><br>
                        Asae Consultores pone a su disposición a nuestro equipo de expertos para la administración de su infraestructura de servidores (físicos y virtuales) y/o la red de equipos PC, podemos tomar esta actividad en la modalidad de outsourcing haciéndonos cargo de la administración total o podemos integrar personal experto que sea administrado por el personal interno de su empresa, consúltenos para hacerle una oferta de valor que garantice su satisfacción y la continuidad en sus procesos.
                        <br><br>
                        El rol del área de TI se percibe cada día más como un área estratégica dentro de las empresas que buscan responder con rapidez a las exigencias del mercado y de los clientes. La inversión en infraestructura tecnológica y su eficiente administración, abren la oportunidad de mejorar los procesos e impulsar la productividad. Una mayor productividad se traducirá en una mayor rentabilidad.
                        <br>
                    </p>
                    <br /><br />

                </div>
            </div>
        </div>
    </div>
</section>