
@{
    ViewBag.Title = "NUBE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #hero-area {
        background: url('../../images/servicios/cf03f913897dac394767e238e8bb5227.jpg') no-repeat 100%;
        background-size: cover;
        background-attachment: fixed;
        padding: 130px 0;
        color: #fff;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        position: relative;
    }

        
    /*#hero-area:before {
            content: '';
            z-index: 9;
            background-image: linear-gradient(114deg, #05105682 11%,#009688a6 94%);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }*/

    .cd-headline.slide .cd-words-wrapper {
        color: #9E9E9E;
    }

    #hero-area h1 {
        font-size: 40px;
        line-height: 50px;
        color: #08bbd2;
        font-weight: 700;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    .title {
        font-size: 30px;
        line-height: 1.1;
        font-weight: 300;
        color: #03bdd5;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
</style>
<!--
==================================================
Slider Section Start
================================================== -->
<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                    <!-- Slider -->
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            <span> Servicios en la NUBE </span><br>
                            <br />

                            <span class="cd-words-wrapper">
                                <b class="is-visible">Última </b>
                                <b>tecnología</b>
                            </span>
                        </h1>
                    </section> <!-- cd-intro -->

                </div>
            </div>
        </div>
    </div>
</section>


<section class="global-page-header" style="padding: 35px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                </div>
            </div>
        </div>
    </div>
</section>


<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <p style="color: #777;" class="text-justify wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">
                    
                        No invierta en infraestructura y en procesos costosos de respaldo, mantenimiento, renovación de equipos, espacio físico, disfrute de las ventajas de tener sus procesos montados en la NUBE, poder crecer cuando se requiera y poder reducir cuando ya no se requiera más equipo, corriendo sus procesos siempre con la última tecnología.
                        <br><br>
                        Ofrecemos diferentes alternativas de servicios en la Nube para ayudar a las empresas y organizaciones a mejorar sus procesos de comunicación, colaboración y productividad, soluciones hosteadas (hospedadas) en la nube (nube de Microsoft, IBM), ofreciendo correo electrónico, Office Profesional y servicios de colaboración que permitirá reducir tus gastos ya que no es necesario tener hardware ni software propio (Servidores para estos servicios), reduciéndose al mínimo las actividades de administración y sin la necesidad de realizar grandes inversiones de inicio.
                        <br><br>
                        Los empleados podrán acceder de manera eficaz a su información aun sin estar en su oficina a través de la web o dispositivos móviles. Los servicios en la nube permiten disponer de plataformas de almacenamiento redundantes y sistemas de seguridad de capa múltiple (antivirus, antispam, etc.) con lo que se garantiza la disponibilidad y seguridad de la información.

                    </p>
                </div>
            </div>

        </div>
    </div>
</section>




<section id="services">
    <div class="container">
        <header class="section-header wow fadeInUp">
            <div class="row about-cols">
                <div class="col-md-7 wow fadeInUp">
                    <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms" style="text-align:center;">
                        Ventajas de servicios en la nube
                    </h2>

                    <br />
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-primary" style="background-color:#9E9E9E">
                            Reducción de costos en TI y administración simplificada.
                        </li>
                        <li class="list-group-item list-group-item-light">
                            Disminución en gastos de inversión.
                        </li>
                        <li class="list-group-item list-group-item-primary" style="background-color:#9E9E9E">
                            Uso de últimas versiones de software.
                        </li>
                        <li class="list-group-item list-group-item-light">
                            Acceso a la información a cualquier hora y desde cualquier lugar.
                        </li>
                        <li class="list-group-item list-group-item-primary" style="background-color:#9E9E9E">
                            Alta disponibilidad.
                        </li>
                    </ul>
                </div>
                <div class="col-md-5 wow fadeInLeft" data-wow-delay=".3s">
                    <img src="~/images/servicios/cf03f913897dac394767e238e8bb5227.jpg" width="100%" />
                </div>
            </div>
        </header>
    </div>
</section><!-- #services -->
<br /><br />