
@{
    ViewBag.Title = "Seguridad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/whatsapp.js"></script>
<style>
    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 0px solid #ddd;
    }


    #hero-area {
        background: url('../../images/seguridad/16974246827_26e37d9101_o.jpg') no-repeat 50%;
        background-size: cover;
        background-attachment: fixed;
        padding: 110px 0;
        color: #fff;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        position: relative;
    }

        #hero-area:before {
            content: '';
            z-index: 9;
            background-image: linear-gradient( 114deg, #ffffff -6%,#11707b00 65%);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        #hero-area h1 {
            font-size: 25px;
            line-height: 25px;
            color: rgb(101 98 100);
            font-weight: 700;
            margin-bottom: 15px;
            text-transform: initial;
        }

        #hero-area h2 {
            font-size: 14px;
            font-weight: 300;
            margin-bottom: 38px;
            line-height: 27px;
            text-transform: initial;
            color: #605e5e;
            font-family: 'Roboto', sans-serif;
            margin-top: 25px;
        }

    #call-to-action {
        background-image: linear-gradient( 114deg, #46b5e6 30%, #4059a9 99%);
        background-size: cover;
        background-attachment: fixed;
        padding: 80px 0;
        text-align: center;
        position: relative;
        color: #fff;
    }

    #service-page h2 {
        font-size: 25px;
        line-height: 25px;
        color: rgb(103 100 102);
        font-weight: 700;
        margin-bottom: 0px;
        text-transform: initial;
    }

    #service-page h3 {
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 38px;
        line-height: 22px;
        text-transform: initial;
        color: #605e5e;
        font-family: 'Roboto', sans-serif;
    }


    #service-page2 h2 {
        font-size: 25px;
        line-height: 25px;
        font-weight: 700;
        margin-bottom: 15px;
        color: #ffff;
    }

    #service-page2 h3 {
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 38px;
        line-height: 27px;
        text-transform: initial;
        color: #ffff;
        font-family: 'Roboto', sans-serif;
    }

    @@media (min-width: 768px) {
        #top-bar {
            padding: 5px 0;
        }


        #hero-area {
            padding: 180px 0;
        }

        .btn-lines {
            width: 30%;
        }


        .subtitle-des {
            margin-bottom: 35px;
        }

        #top-bar {
            padding: 5px 0;
        }


        #hero-area {
            padding: 100px 0;
        }


        #service-page .btn-lines {
            width: 30%;
            padding: 20px 35px;
        }

        #hero-area h1 {
            font-size: 40px;
            line-height: 50px;
        }

        #hero-area h2 {
            font-size: 18px;
            line-height: 30px;
        }

        #service-page h2 {
            font-size: 40px;
            line-height: 50px;
            font-weight: 700;
            margin-bottom: 15px;
            text-transform: initial;
        }

        #service-page h3 {
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 38px;
            line-height: 27px;
            text-transform: initial;
            color: #605e5e;
            font-family: 'Roboto', sans-serif;
        }

        #service-page2 h2 {
            font-size: 40px;
            line-height: 50px;
            font-weight: 700;
            margin-bottom: 15px;
            color: #686567;
            text-transform: initial;
        }

        #service-page2 h3 {
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 38px;
            line-height: 27px;
            text-transform: initial;
            color: #686567;
            font-family: 'Roboto', sans-serif;
        }
    }

    .btn-wsp {
        position: fixed;
        width: 60px;
        height: 60px;
        line-height: 63px;
        bottom: 90px;
        right: 23px;
        background: #25d366;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        font-size: 35px;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
        z-index: 1000;
        transition: all 300ms ease;
    }

    .btn-wsp:hover {
        background: #20ba5a;
        -webkit-box-shadow: 10px 10px 18px -15px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 18px -15px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 18px -15px rgba(0,0,0,0.75);
    }

    @@media only screen and (min-width:320px) and (max-width:768px) {
        .btn-wsp {
            width: 63px;
            height: 63px;
            line-height: 66px;
        }
    }

</style>

<section id="hero-area">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="block wow fadeInUp" data-wow-delay=".1s">
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".1s">
                            <span>
                                Servicios de seguridad informática.
                            </span>
                        </h1>
                    </section>
                    <h2 class="wow fadeInUp animated" data-wow-delay=".1s" id="h2Titletap">
                        Nuestra experiencia de más de 30 años en el uso e integración de soluciones y servicios de tecnologías de la información nos permiten ofrecer un servicio especializado sobre los productos y servicios de nuestro portafolio:
                        .
                    </h2>

                    <table width="100%" class="table borderless" id="Table1">
                        <tbody>
                            <tr>
                                <td width="10%"><img class="img-responsive wow fadeInUp animated" data-wow-delay=".1s" data-wow-duration="300ms" src="~/images/soluciones/250check.png" /> </td>
                                <td width="40%">
                                    <p class="subtitle-des wow fadeInUp animated text-justify" data-wow-delay=".1s" data-wow-duration="300ms" style=" text-align: left; font-size: 17px; margin-bottom: 1px;">
                                        Análisis de Vulnerabilidades.
                                    </p>
                                </td>
                                <td width="10%"><img class="img-responsive wow fadeInUp animated" data-wow-delay=".1s" data-wow-duration="300ms" src="~/images/soluciones/250check.png" /> </td>
                                <td width="40%">
                                    <p class="subtitle-des wow fadeInUp animated text-justify" data-wow-delay=".1s" data-wow-duration="300ms" style="text-align: left; font-size: 17px;  margin-bottom: 1px;">
                                        Pruebas de Penetración.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="10%"><img class="img-responsive wow fadeInUp animated" data-wow-delay=".1s" data-wow-duration="300ms" src="~/images/soluciones/250check.png" /> </td>
                                <td width="40%">
                                    <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="300ms" style=" text-align: left; margin-bottom: 1px; font-size: 17px; ">
                                        Consultoría Seguridad Informática.
                                    </p>
                                </td>
                                <td width="10%"><img class="img-responsive wow fadeInUp animated" data-wow-delay=".1s" data-wow-duration="300ms" src="~/images/soluciones/250check.png" /> </td>
                                <td width="40%">
                                    <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="300ms" style=" text-align: left; margin-bottom: 1px; font-size: 17px; ">
                                        Ciberseguridad Holística.
                                    </p>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-6">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                    <section class="cd-intro text-center">
                        <br /><br />
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            <img src="~/images/seguridad/seguridad.png" width="100%" />
                        </h1>
                    </section>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="call-to-action" style="padding: 0px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="title wow fadeInDown" data-wow-delay=".2s" data-wow-duration="300ms">
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="service-page2" class="pages service-page" style="padding: 40px 0 10px; ">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <br /><br />
                <img src="~/images/seguridad/Análisis-de-vulnerabilidades.-Fallos-de-seguridad-768x456.jpg" width="100%" />
            </div>
            <div class="col-md-6">
                <div class="block">
                    <h2 class="title wow fadeInUp animated" data-wow-delay=".1s" data-wow-duration="300ms">
                        Reducción de riesgos en base a análisis.
                    </h2>
                    <h3 class="wow fadeInUp animated" data-wow-delay=".6s">
                        Al realizar un análisis que considere los requerimientos funcionales y técnicos del sistema en conjunto con buenas prácticas de implementación, lograremos reducir positivamente los riesgos de seguridad informática.

                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="service-page" class="pages service-page" style="padding: 40px 0 40px; background-color: #f5f5f5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="block">
                    <h2 class="title wow fadeInUp animated" data-wow-delay=".1s" data-wow-duration="300ms">

                        Estado actual de la seguridad informática de su empresa.
                    </h2>
                    <h3 class="wow fadeInUp animated" data-wow-delay=".6s">
                        Con nuestros servicios, podrá conocer y controlar el estado actual de la seguridad informática de su empresa. Es el momento de empezar a proteger su negocio.

                    </h3>
                </div>
            </div>
            <div class="col-md-6">
                <br /><br />
                <img src="~/images/seguridad/PAU-SEGURIDAD.jpg" width="100%" />
            </div>
        </div>
    </div>
</section>

<section id="service-page2" class="pages service-page" style="padding: 40px 0 10px; ">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <br /><br />
                <img src="~/images/seguridad/seguridad.png" width="100%" />
            </div>
            <div class="col-md-6">
                <div class="block">
                    <h2 class="title wow fadeInUp animated" data-wow-delay=".1s" data-wow-duration="300ms">
                        Preparación frente ataques por intrusos informáticos.
                    </h2>
                    <h3 class="wow fadeInUp animated" data-wow-delay=".6s">
                        Al conocer el nivel de seguridad informática de tu empresa, podrá mejorar la seguridad de tu negocio y estar preparado frente ataques por intrusos informáticos.

                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="service-page" class="pages service-page" style="padding: 40px 0 40px; background-color: #f5f5f5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="block">
                    <h2 class="title wow fadeInUp animated" data-wow-delay=".1s" data-wow-duration="300ms">

                        Evitará el robo/fuga de información confidencial.
                    </h2>
                    <h3 class="wow fadeInUp animated" data-wow-delay=".6s">
                        Evitará el robo/fuga de información confidencial, porque tendrá un conocimiento real de la seguridad y podrá tomar decisiones proactivas frente a un ataque cibernético.
                    </h3>
                </div>
            </div>
            <div class="col-md-6">
                <br /><br />
                <img src="~/images/seguridad/Como-evitar-la-fuga-de-datos-en-la-nube.jpg" width="100%" />
            </div>
        </div>
    </div>
</section>

<section id="service-page2" class="pages service-page" style="padding: 40px 0 10px; ">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <br /><br />
                <img src="~/images/seguridad/shutterstock_1813101946.jpg"  width="100%" />
            </div>
            <div class="col-md-6">
                <div class="block">
                    <h2 class="title wow fadeInUp animated" data-wow-delay=".1s" data-wow-duration="300ms">
                        Minimizará las pérdidas de dinero y maximizará tus ganancias.
                    </h2>
                    <h3 class="wow fadeInUp animated" data-wow-delay=".6s">
                        Minimizará las pérdidas de dinero y maximizará tus ganancias al tener el control del estado de seguridad en tu empresa.

                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>

<a href="https://api.whatsapp.com/send?phone=+5215534197369&text=Buen%20día,%20Solicito%20conocer%20más%20información%20de%20Servicios%20de%20seguridad%20informática." class="btn-wsp" target="_blank">
    <i class="fa fa-whatsapp icono"></i>
</a>