
@{
    ViewBag.Title = "Soporte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #hero-area {
        background: url('../../images/servicios/img.jpg') no-repeat 100%;
        background-size: cover;
        background-attachment: fixed;
        padding: 130px 0;
        color: #fff;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        position: relative;
    }


    /*#hero-area:before {
            content: '';
            z-index: 9;
            background-image: linear-gradient(114deg, #05105682 11%,#009688a6 94%);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }*/

    .cd-headline.slide .cd-words-wrapper {
        color: #9E9E9E;
    }

    #hero-area h1 {
        font-size: 40px;
        line-height: 50px;
        color: #08bbd2;
        font-weight: 700;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    .title {
        font-size: 30px;
        line-height: 1.1;
        font-weight: 300;
        color: #03bdd5;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
</style>
<!--
==================================================
Slider Section Start
================================================== -->
<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                    <!-- Slider -->
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            <span> Soporte y Mantenimiento Multivendor </span><br>
                            <br />

                            <span class="cd-words-wrapper">
                                <b class="is-visible">Suministro</b>
                                <b>Refacciones </b>
                                <b>Implementación</b>
                                <b>Software</b>
                            </span>
                        </h1>
                    </section> <!-- cd-intro -->

                </div>
            </div>
        </div>
    </div>
</section>

<section class="global-page-header" style="padding: 35px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-5 wow fadeInLeft" data-wow-delay=".3s">
                <img src="~/images/servicios/img.jpg" width="100%" />
            </div>
            <div class="col-md-7">
                <div class="block">
                    <br /><br /><br /><br />
                    <p style="color: #777;" class="text-justify wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">
                        Cuando logras niveles de servicio superiores al 97% se vuelven un reto para verdaderos profesionales, en Asae Consultores contamos con un equipo de profesionales que le ayudaran a lograrlo con el soporte a sus equipos de atención a Clientes. Tenemos presencia a nivel nacional para poder atender a sus sucursales u oficinas foráneas.
                    </p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="block">
                    <br /><br />
                    <p style="color: #777;" class="text-justify wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">

                        Nuestro departamento de servicio a equipos de atención a Clientes, terminales punto de ventas (TPV´s), lectoras de cheques e Impresoras, cuenta con amplia experiencia en la atención, soporte y reparación de este tipo de equipos. Porque sabemos lo crítico de los procesos de atención a Clientes contamos con personal altamente capacitado y un stock de refacciones que garantiza un SLA por arriba del 97.0 % de eficiencia. Nuestra atención es a nivel nacional siendo un diferenciador con otras empresas que ofrecen este tipo de servicio. Actualmente atendemos los equipos de las sucursales de bancos con presencia a nivel nacional, CONTACTENOS y conozca la diferencia de nuestra oferta de servicio y atención a sus equipos de sucursales y oficinas.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <header class="section-header wow fadeInUp">
            <div class="row about-cols">
                <div class="col-md-12 wow fadeInUp">
                    <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms" style="text-align:center;">
                        Suministro de Refacciones
                    </h2>

                    <br />
                    <p style="color: #777;" class="text-justify wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">

                        La atención a múltiples marcas de equipos e impresoras, nos permite tener un stock de refacciones muy importante, el cual ponemos a su disposición para entrega inmediata, podemos surtir la cantidad deseada de refacciones para equipos PC e Impresoras, una vez cotizada y autorizada la compra, de inmediato le será enviada a sus oficinas o si lo prefiere mandamos a un técnico (costo extra) con la refacción para su instalación, en el supuesto de no tener la refacción en stock procederemos a la compra para atenderle oportunamente.


                    </p>
                </div>
            </div>
        </header>
    </div>
</section><!-- #services -->

<br />
<br />
<section id="services">
    <div class="container">
        <header class="section-header wow fadeInUp">
            <div class="row about-cols">
                <div class="col-md-7 wow fadeInUp">
                    <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms" style="text-align:center;">
                        Atención a Terminales Punto de Venta (TPV)
                    </h2>
                    <br />
                </div>

                @*<div class="col-md-7 wow fadeInUp">
                    <br />
                    <p style="color: #777;" class="text-justify wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">
                        Cuando logras niveles de servicio superiores al 97% se vuelven un reto para verdaderos profesionales, en Asae Consultores contamos con un equipo de profesionales que le ayudaran a lograrlo con el soporte a sus equipos de atención a Clientes. Tenemos presencia a nivel nacional para poder atender a sus sucursales u oficinas foráneas.
                    </p>
                </div>*@
                <div class="col-md-5 wow fadeInLeft" data-wow-delay=".3s">
                    <img src="~/images/servicios/venta.jpg" width="100%" />
                </div>


            </div>
        </header>
    </div>
</section><!-- #services -->

<br />
<br />
<section id="services">
    <div class="container">
        <header class="section-header wow fadeInUp">
            <div class="row about-cols">
                <div class="col-md-12 wow fadeInUp">
                    <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms" style="text-align:center;">
                        Suministro de Refacciones
                    </h2>

                    <br />
                    <p style="color: #777;" class="text-justify wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">
                        Mantenga actualizados sus equipos de cómputo, la tecnología avanza y no podemos quedarnos rezagados en algún sistema operativo obsoleto.
                        <br><br>
                        Asegure que sus equipos siempre tengan la última versión de sus aplicativos, también proporcionamos la instalación y capacitación a su personal y a sus clientes de los nuevos desarrollos o adecuaciones a los existentes.
                        <br><br>
                        La tecnología avanza muy rápido y de repente nuestros equipos de sucursales y por qué no decirlo, también los equipos locales se quedan obsoletos o bien, los constantes cambios en nuestras aplicaciones hacen que se tenga que estar actualizando el software contenido en nuestros equipos PC. En ASAE CONSULTORES tenemos la capacidad para atender siempre que se requiera la actualización o Implementación de software para los equipos de su organización sin importar la ubicación del equipo ya que contamos con atención a nivel nacional.
                        <br><br>
                        <span style="font-weight:bold"> * </span>
                        Instalación del Sistema del Cliente
                        <br>
                        <span style="font-weight:bold"> * </span>
                        Capacitación del Sistema
                        <br>
                        <span style="font-weight:bold"> * </span>
                        Actualización de versiones
                        <br>
                        <span style="font-weight:bold"> * </span>
                        Soporte Técnico
                        <br>
                        <span style="font-weight:bold"> * </span>
                        Garantía de Servicio

                    </p>
                </div>
            </div>
        </header>
    </div>
</section><!-- #services -->
<br />
<br />
<section id="services">
    <div class="container">
        <header class="section-header wow fadeInUp">
            <div class="row about-cols">
                <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s">
                    <img src="~/images/servicios/servidor.jpg" width="100%" />
                </div>



                <div class="col-md-6 wow fadeInUp">
                    <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms" style="text-align:center;">
                        Laboratorio
                    </h2>

                    <br />
                    <p style="color: #777;" class="text-justify wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">
                        Contamos con un laboratorio, donde hacemos la reparación, instalación de componentes para el crecimiento a equipos, así como la instalación del software, haciendo las pruebas necesarias para asegurar el correcto funcionamiento en los equipos de nuestros Clientes, minimizando los riesgos en la operación.
                    </p>
                </div>



            </div>
        </header>
    </div>
</section><!-- #services -->
<br />
<br />