
@{
    ViewBag.Title = "Telecomunicaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #hero-area {
        background: url('../../images/servicios/telecomunicaciones4.jpg') no-repeat 100%;
        background-size: cover;
        background-attachment: fixed;
        padding: 130px 0;
        color: #fff;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        position: relative;
    }

        #hero-area:before {
            content: '';
            z-index: 9;
            background: rgb(255 255 255 / 92%);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

    /*#hero-area:before {
            content: '';
            z-index: 9;
            background-image: linear-gradient(114deg, #05105682 11%,#009688a6 94%);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }*/

    .cd-headline.slide .cd-words-wrapper {
        color: #9E9E9E;
    }

    #hero-area h1 {
        font-size: 40px;
        line-height: 50px;
        color: #08bbd2;
        font-weight: 700;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    .title {
        font-size: 30px;
        line-height: 1.1;
        font-weight: 300;
        color: #03bdd5;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
</style>
<!--
==================================================
Slider Section Start
================================================== -->
<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                    <!-- Slider -->
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            <span> Telecomunicaciones </span><br>
                            <br />

                            <span class="cd-words-wrapper">
                                <b class="is-visible">Voz/Datos </b>
                                <b>Última </b>
                                <b>tecnología</b>
                            </span>
                        </h1>
                    </section> <!-- cd-intro -->

                </div>
            </div>
        </div>
    </div>
</section>


<section class="global-page-header" style="padding: 35px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <p style="color: #777;" class="text-justify wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">

                        Ponemos a su disposición nuestro equipo de expertos para poder evaluar la condición actual de su red de Voz/Datos para poder sugerir los cambios o adecuaciones que sean necesarias para garantizar un SLA de al menos el 95% de UPTIME en los servicios de Telecomunicaciones.
                        <br><br>

                        Las telecomunicaciones son un punto crítico en la atención a Clientes, Proveedores y Colaboradores. Se vuelve un punto neurálgico dentro de la empresa las redes de voz/datos.
                        <br><br>
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>



<section id="services">
    <div class="container">
        <header class="section-header wow fadeInUp">
            <div class="row about-cols">
                <div class="col-md-5 wow fadeInLeft" data-wow-delay=".3s">
                    <img src="~/images/servicios/cableadoEstructurado.jpg" width="100%" />
                </div>
                <div class="col-md-7 wow fadeInUp">
                    
                    <br />
                    <p style="color: #777;" class="text-justify wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">
                        Los apoyamos en detectar los posibles problemas que afectan las comunicaciones y van desde:
                        <br><br>
                        <span style="font-weight:bold"> •  </span>Un mal cableado en nuestras instalaciones.
                        <br>
                        <span style="font-weight:bold"> •  </span>
                        Equipos de comunicaciones, que conforman la red LAN o WAN, mal parametrizados , obsoletos o mal instalados.
                        <br>
                        <span style="font-weight:bold"> •  </span>Proveedor de voz/datos (TELMEX, Telefónica, ATT, etc..), sin redundancia en la zona de nuestros edificios o saturación en el ancho de banda de la zona.
                        <br>
                        <span style="font-weight:bold"> •  </span>Un ancho de banda mal dimensionado o insuficiente para nuestros requerimientos actuales.
                        <br>
                        <span style="font-weight:bold"> •  </span>Entrega real por nuestro proveedor del ancho de banda contratado.
                        <br>
                        <span style="font-weight:bold"> •  </span>Y muchas otras causas pueden provocar fallas constantes en los servicios de Telecomunicaciones.

                    </p>
                </div>

            </div>
        </header>
    </div>
</section><!-- #services -->
<br />
<br />
<section id="services">
    <div class="container">
        <header class="section-header wow fadeInUp">
            <div class="row about-cols">
                <div class="col-md-7 wow fadeInUp">
                    <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms" style="text-align:center;">
                        Cableado Estructurado
                    </h2>

                    <br />
                    <p style="color: #777;" class="text-justify wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">

                        Tenemos la experiencia para atender las más amplias necesidades de nuestros clientes en cableado estructurado nivel 5 y nivel 6, parcheo, administración de personal, atención por llamada o teniendo personal en sitio.


                    </p>
                </div>

                <div class="col-md-5 wow fadeInLeft" data-wow-delay=".3s">
                    <img src="~/images/servicios/instalacion-cableado-estruturado.jpg" width="100%" />
                </div>


            </div>
        </header>
    </div>
</section><!-- #services -->
<br />
<br />
<section id="services">
    <div class="container">
        <header class="section-header wow fadeInUp">
            <div class="row about-cols">
                <div class="col-md-12 wow fadeInUp">
                    <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms" style="text-align:center;">
                        Diseño e instalación de red de voz y datos
                    </h2>
                </div>
            </div>
        </header>
    </div>
</section><!-- #services -->
<br />
<br />
<section id="services">
    <div class="container">
        <header class="section-header wow fadeInUp">
            <div class="row about-cols">
                <div class="col-md-6 wow fadeInUp">
                    <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms" style="text-align:center;">
                        Podemos apoyarlos en:
                    </h2>
                    <br />
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-secondary" style="background-color:#9E9E9E">
                            <span style="font-weight:bold"> •  </span>
                            Seleccionar la tecnología que más se adapte a los requerimientos actuales y a la proyección futura de su empresa.
                        </li>
                        <li class="list-group-item list-group-item-light">
                            <span style="font-weight:bold"> •	 </span>
                            Asesoramiento para la adquisición de plataforma tecnológica que soportará las necesidades actuales y futuras.
                        </li>
                        <li class="list-group-item list-group-item-secondary" style="background-color:#9E9E9E">
                            <span style="font-weight:bold"> •	 </span>
                            Alineación de la tecnología con los procesos y objetivos de su empresa.
                        </li>
                        <li class="list-group-item list-group-item-light">
                            <span style="font-weight:bold"> •	 </span>
                            Migración a nuevos equipos con mismo rendimiento y calidad a un mejor precio.
                        </li>
                        <li class="list-group-item list-group-item-secondary" style="background-color:#9E9E9E">
                            <span style="font-weight:bold"> •	 </span>
                            Análisis de Redes con el fin de determinar su funcionalidad en los cambios o implementación de nuevas aplicaciones por ejemplo ERP´s, Mensajería Unificada, Telefonía IP, etc.
                        </li>
                        <li class="list-group-item list-group-item-light">
                            <span style="font-weight:bold"> •	 </span>
                            Incremento de los niveles de servicio en la LAN, WAN y BACK-BONE.
                        </li>
                        <li class="list-group-item list-group-item-secondary" style="background-color:#9E9E9E">
                            <span style="font-weight:bold"> •	 </span>
                            Implementación de Telefonía IP.
                        </li>
                        <li class="list-group-item list-group-item-light">
                            <span style="font-weight:bold"> •	 </span>
                            Integración de Redes de voz a las redes de datos actuales.
                        </li>
                    </ul>
                </div>

                <div class="col-md-6 wow fadeInUp">
                    <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms" style="text-align:center;">
                        Soporte y Mantenimiento a redes
                    </h2>
                    <br />
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-secondary" style="background-color:#9E9E9E">
                            <span style="font-weight:bold"> •  </span>
                            Esquemas de soporte 7 X 24 X 365.
                        </li>
                        <li class="list-group-item list-group-item-light">
                            <span style="font-weight:bold"> •	 </span>
                            Contrato de servicios para el soporte, mantenimiento y operación de su red de datos y voz.
                        </li>
                        <li class="list-group-item list-group-item-secondary" style="background-color:#9E9E9E">
                            <span style="font-weight:bold"> •	 </span>
                            Documentación de Redes para una mejor administración y mantenimiento a través de levantamientos de Información de equipos, escaneo de nodos y elaboración de Memorias Técnicas.
                        </li>
                        <li class="list-group-item list-group-item-light">
                            <span style="font-weight:bold"> •	 </span>
                            Capacitación Técnica al personal.
                        </li>
                    </ul>
                </div>

            </div>
        </header>
    </div>
</section><!-- #services -->
<br /><br />