
@{
    ViewBag.Title = "Xpinnit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #hero-area {
        background: url('../../images/xpinnit/Cambia-de-aire.jpg') no-repeat 50%;
        background-size: cover;
        background-attachment: fixed;
        padding: 230px 0;
        color: #fff;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        position: relative;
    }

        #hero-area:before {
            content: '';
            z-index: 9;
            background-image: linear-gradient(114deg, #05105682 11%,#009688a6 94%);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

    .cd-headline.slide .cd-words-wrapper {
        color: #fff;
    }
    #call-to-action {
        background-image: linear-gradient(114deg, #4cc855 30%, #2da5cc 99%);
        background-size: cover;
        background-attachment: fixed;
        padding: 80px 0;
        text-align: center;
        position: relative;
        color: #fff;
    }

</style>

<!--
==================================================
Slider Section Start
================================================== -->
<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                    <!-- Slider -->
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            <span style="color:#fff"> Asae Consultores S.A de C.V</span><br>
                            <img src="~/images/xpinnit/beta.png" width="100%" />
                            <br />

                            <span class="cd-words-wrapper">
                                <b class="is-visible">Programa tareas</b>
                                <b>temporalidad</b>
                                <b>Que necesites</b>
                                <b>Trabajar en equipo</b>
                                <b>Es estar</b>
                                <b>Sincronizados</b>
                            </span>
                        </h1>
                    </section> <!-- cd-intro -->
                    <!-- /.slider -->
                    <h2 class="wow fadeInUp animated" data-wow-delay=".6s" style="color:#fff">
                        Asae Tu mejor Aliado en soluciones de Tecnología.
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section><!--/#main-slider-->
<!--
==================================================
    Service Page Section  Start
================================================== -->
<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="block">

                    <h2 class="title wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms" style="color:#82c240; text-align:center;">
                        Visualiza tus mundos en un
                        <br>
                        tablero práctico y amigable.
                    </h2>

                    <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" style="text-align:center; font-size:20px;">
                        <br /><br />
                        Crea eventos y ordena cada aspecto de tu vida.
                        <br>
                        Mide el desempeño de tus proyectos,
                        reuniones y pendientes.
                        <br>
                        Clasifica tus proyectos como tú quieras
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="block">
                    <br>
                    <img class="img-responsive wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" src="~/images/xpinnit/software-gestion-proyectos-tareas-xpinnit-A-1.png" />
                </div>
            </div>
        </div>
    </div>
</section>

<!--
==================================================
    Service Page Section  Start
================================================== -->
<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="block">
                    <br>
                    <img class="img-responsive wow fadeInUp animated" data-wow-delay=".10s" data-wow-duration="500ms" src="~/images/xpinnit/software-gestion-proyectos-tareas-xpinnit-evento-1.png" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="block">

                    <h2 class="title wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms" style="color:#82c240; text-align:center;">
                        Agrupa todas tus tareas y
                        <br>
                        actividades en eventos.
                    </h2>


                    <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" style="text-align:center; font-size:20px;">
                        <br /><br />
                        Integra tus reuniones, auditorias, proyectos o actividades en distintos eventos independientes y parametrizables.
                        <br><br>
                        Invita a quien tú quieras a colaborar en tus eventos, sólo agrega su correo electrónico o número telefónico y comienza a trabajar con ellos.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--
==================================================
    Service Page Section  Start
================================================== -->
<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="title wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms" style="color:#82c240; text-align:center; font-size: 36px;">
                        Crea todas las tareas que necesites en
                        <br>
                        cada uno de tus eventos.
                    </h2>


                    <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" style="text-align:center; font-size:20px;">
                        Crea tareas, define responsables, asigna fechas, adjunta documentos y prioriza actividades de
                        <br>
                        la manera más simple que te puedas imaginar.
                    </p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="block">
                    <br>
                    <img class="img-responsive wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" src="~/images/xpinnit/software-gestion-proyectos-tareas-xpinnit-mockup-1.png" />
                </div>
            </div>
        </div>
    </div>
</section>


<!--
==================================================
    Service Page Section  Start
================================================== -->
<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="block">

                    <h2 class="title wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms" style="color:#82c240; text-align:center;">
                        Tú sólo crea tareas, Xpinnit en un
                        <br>
                        clic hace el resto.
                    </h2>

                    <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" style="text-align:center; font-size:20px;">
                        <br /><br />
                        Crea minutas para tus reuniones.
                        <br><br>
                        Despliega diagramas de Gantt en tus eventos.
                        <br><br>
                        Inicia conversaciones con tus equipos de trabajo.
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="block">
                    <br>
                    <img class="img-responsive wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" src="~/images/xpinnit/Detalle_Tarea.gif" />
                </div>
            </div>

        </div>
    </div>
</section>

<!--
==================================================
    Service Page Section  Start
================================================== -->
<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="block">
                    <br>
                    <img class="img-responsive wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" src="~/images/xpinnit/Tareas_Personales.gif" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="block">

                    <h2 class="title wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms" style="color:#82c240; text-align:center;">
                        Gestiona todas tus actividades en tu propia lista de tareas.
                    </h2>
                    
                    <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" style="text-align:center; font-size:20px;">
                        <br /><br />
                        Ingresa a tu lista de tareas “to do list” y consulta todas tus tareas personales y que te han delegado.
                        <br><br>
                        Filtra tus tareas y elige lo que quieres ver.
                        <br><br>
                        Delega actividades en el momento que lo requieras.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>