
@{
    ViewBag.Title = "Asae";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .about-feature .block {
        color: #fff;
        width: 50%;
        padding: 5%;
        float: left;
    }
    .about-feature .about-feature-2 {
        background: #00545f;
    }
    .about-feature .about-feature-1 {
        background: #007a8a;
    }
</style>
<br /><br /><br /><br />
<!--
==================================================
    Global Page Section Start
================================================== -->
<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>¿ Quien es Asae Consultores ?</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">
                                <i class="ion-ios-home"></i>
                                Asae
                            </a>
                        </li>
                        <li class="active">
                            Acerca
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>


<!--
==================================================
    Company Description Section Start
================================================== -->
<section class="company-description">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s">
                <img src="~/images/home/Av.Universidad.JPG" alt="" class="img-responsive">
            </div>
            <div class="col-md-6">
                <div class="block">
                    <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">ACERCA DE NOSOTROS</h3>
                    <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                        Somos una empresa orgullosamente mexicana que nos hemos preocupado por estar constantemente en desarrollo, caminando paralelamente con las innovaciones tecnológicas.
                    </p>
                    <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                        Contamos con un equipo de jóvenes, expertos en Tecnología, con pasión por la excelencia y entusiasmo por el trabajo, soportado por nuestro equipo Directivo con más de 30 años de experiencia.
                    </p>
                    <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                        Todo ello con el propósito de poder ofrecer a nuestros clientes gran variedad de soluciones integrales, basándonos en una tecnología madura y en constante evolución.
                    </p>
                    <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                        Hoy en día, nos hemos consolidado como una organización integradora de soluciones tecnológicas, abarcando productos y servicios para mercados verticales y soluciones horizontales con presencia a nivel nacional.
                    </p>
                    <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                        Con <strong>ASAE CONSULTORES</strong>, Usted contará con atención personalizada, calidad y oportunidad en cada uno de sus proyectos y SER UN ALIADO ESTRATEGICO para lograr los objetivos de su negocio.
                    </p>
                    @*<p class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration="500ms">
            Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
        </p>*@

                </div>
            </div>
        </div>
    </div>
</section>


<!--
==================================================
    Company Feature Section Start
================================================== -->
<section class="about-feature clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="block about-feature-1 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
                <h2>
                    Misión
                </h2>
                <p>
                    Proveer a nuestros Clientes <span style="font-weight:bold">Productos y Soluciones Integrales de Tecnologías de la Información</span>, promoviendo, fomentando y apoyando la generación del conocimiento, la innovación y el desarrollo tecnológico, dando solución a sus necesidades informáticas, mediante nuestro equipo de especialistas.
                    <br /><br />
                    Colaborar en la visión de su negocio, garantizando el máximo estándar de calidad y manteniendo la Ética Profesional de la transferencia e intercambio de tecnologías.
                </p>
            </div>
            <div class="block about-feature-2 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                <h2 class="item_title">
                    Visión
                </h2>
                <p>
                    Ser un <span style="font-weight:bold">aliado estratégico</span> para nuestros Clientes, contribuyendo a elevar su competitividad, mediante la innovación y adaptación de soluciones y productos de tecnologías de la información; brindando soluciones efectivas a sus necesidades.
                    <br /><br /><br /><br /><br />
                </p>
                
            </div>
            @*<div class="block about-feature-3 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s">
                <h2 class="item_title">
                    Visión
                </h2>
                <p>
                    Ser un <span style="font-weight:bold">aliado estratégico</span> para nuestros Clientes, contribuyendo a elevar su competitividad, mediante la innovación y adaptación de soluciones y productos de tecnologías de la información; brindando soluciones efectivas a sus necesidades.
                </p>
            </div>*@
        </div>
    </div>
</section>
