
@{
    ViewBag.Title = "Experiencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .title {
        font-size: 30px;
        line-height: 1.1;
        font-weight: 300;
        color: #00BCD4;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
</style>
<br />
<br />
<br />
<br />
<!--
==================================================
    Global Page Section Start
================================================== -->
<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2> Experiencia - Asae Consultores </h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">
                                <i class="ion-ios-home"></i>
                                Asae
                            </a>
                        </li>
                        <li class="active">
                            Acerca
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="service-page" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms" style="text-align:center;">
                        Experiencia
                    </h2>
                    <p style="text-align:center;color: #777;">
                        En Asae Consultores contamos con personal experto en Tecnologías de la Información con pasión por la excelencia y entusiasmo en el trabajo, con casos de éxito en los servicios que ofrecemos de desarrollo de sistemas, de soporte y mantenimiento de equipo a nivel nacional, de infraestructura de cómputo, de telecomunicaciones y de talento humano.
                    </p>
                    <br /><br />
                    <p style="text-align:center;color: #777;">

                        A lo largo de los 34 años de labor informática, <strong> ASAE CONSULTORES</strong>  ha colaborado en el desarrollo, implementación y mejora de procesos en múltiples empresas, de diferentes sectores:

                    </p>
                    <br /><br /><br />
                    @*<p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">Nos hemos consolidado como una organización integradora de tecnología, abarcando productos y servicios para mercados verticales y soluciones horizontales, con presencia a nivel nacional y con un grupo de más de 250  	profesionales.</p>*@
                    <div class="row service-parts">
                        <div class="col-md-6">
                            <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
                                <i class="ion-ios-briefcase-outline"></i>

                                <h4>
                                    Sector Financiero
                                </h4>
                                <table class="table table-striped table-dark text-center">
                                    <tbody>
                                        <tr>
                                            <th class="text-center">Bancos</th>
                                        </tr>
                                        <tr>
                                            <th class="text-center">Casas de Bolsa</th>
                                        </tr>
                                        <tr>
                                            <th class="text-center">Aseguradoras</th>
                                        </tr>
                                        <tr>
                                            <th class="text-center">Arrendadoras</th>
                                        </tr>
                                        <tr>
                                            <th class="text-center">Almacenes de Deposito</th>
                                        </tr>
                                        <tr>
                                            <th class="text-center">Afores y Fondos de Inversión</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="800ms">
                                <i class="ion-ios-briefcase-outline"></i>
                                <h4>
                                    Otros Sectores
                                </h4>
                                <table class="table table-striped table-dark text-center">
                                    <tbody>
                                        <tr>
                                            <th class="text-center">Retail</th>
                                        </tr>
                                        <tr>
                                            <th class="text-center">Manufactura</th>
                                        </tr>
                                        <tr>
                                            <th class="text-center">Hoteles</th>
                                        </tr>
                                        <tr>
                                            <th class="text-center">Transporte</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <p style="text-align:center;color: #777;">
                        Nuestra experiencia está basada en haber participado en toda la cadena de valor de estos sectores, desarrollando soluciones a sus principales procesos, alineando TI con el negocio, la implementación de soluciones para la mejora de procesos y la constante búsqueda de la excelencia.
                        <br><br>
                        En Asae Consultores hemos participado también en otros sectores, como el Hotelero, el trasporte y el manufacturero, logrando con éxito la implementación de soluciones, las que ponemos a su disposición, contando con experiencia para garantizar la mejora en sus procesos, alineando la operación y tecnología con los objetivos de su empresa.
                        <br><br>
                        Además, en ASAE CONSULTORES tenemos amplia experiencia en el Soporte y mantenimiento Multivendor (equipos de distintas marcas), empleados en las sucursales o puntos de venta a nivel nacional (equipos, impresoras, lectoras de cheques y terminales), con los que nuestros clientes atienden los procesos de operación o venta de su negocio.

                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
